<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>...( ＿ ＿)ノ｜ 404错误 - 梦神十夜的小站</title>
</head>
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
<link re
<body>
<div id="wrap" class="container clearfix">
	<div th:include="common/header::pagination"></div>
	<div class="header_wrap">
		<div id="header_login" class="clearfix">
			<div id="logo_login" style="text-align:center; ">
				<h2><a href="/" title="404" rel="home bookmark">...( ＿ ＿)ノ｜</a></h2>
				<h3><a href="/" title="404" rel="home bookmark">哦吼，页面不存在，请检查URL是否正确！</a></h3>
				<!-- SpringBoot错误视图提供了以下错误属性
				timestamp：错误发生时间；
				status：HTTP状态吗；
				error：错误原因；
				exception：异常的类名；
				message：异常消息（如果这个错误是由异常引起的）；
				errors：BindingResult异常里的各种错误（如果这个错误是由异常引起的）；
				trace：异常跟踪信息（如果这个错误是由异常引起的）；
				path：错误发生时请求的URL路径。 -->
			</div><!-- END logo --> 
		</div>
	</div>
	
	<!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>
</body>
</html>