<!DOCTYPE html>
<html lang="en">
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="UTF-8"/>
    <title>梦神十夜的小站 - 首页</title>
</head>
<body>
<div id="wrap" class="container clearfix">
	<div th:include="common/header-whitout-login::pagination"></div>
	
	<div class="header_wrap">
		<div id="header_login" class="clearfix">
			<div id="logo_login" style="text-align:center; ">
				<h2><a href="/" title="登录成功" rel="home bookmark">梦神首页</a></h2>
			</div><!-- END logo --> 
		</div>
	</div>
	<!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>
</body>
</html>