<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>登录 - 梦神十夜的小站</title>
</head>
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/css/mystyle.css"/>
<body>
<div id="wrap" class="container clearfix">
	<div class="header_wrap" id="top_banner">
		<div id="header" class="clearfix">
			<div id="logo">
				<!-- <h2><a href="/" title="登录" rel="home bookmark">登录</a></h2> -->
				<h2>
					<a href="/" title="梦神十夜的小站" rel="home bookmark">
					<span class="header-logo-span" style="">梦</span>
					<span class="header-logo-span" style="">神</span>
					<span class="header-logo-span" style="border-radius: 20px;">十</span>
					<span class="header-logo-span" style="">夜</span>
					<span class="header-logo-span" style="">的</span>
					<span class="header-logo-span" style="border-radius: 20px;">小</span>
					<span class="header-logo-span" style="">站</span>
					</a>
				</h2>
			</div><!-- END logo --> 
			<span style="padding-left: 30px;font-size: 16px;">这是一个有理想&有抱负的站长，在百无聊赖中搭建的小站(￣︶￣)↗[GO!]</span>
		</div>
	</div>
	<div class="header_wrap">
		<div id="header_login" class="clearfix">
			<div id="logo_login">
				<h4 th:text="${msg}" class="login_error"></h4>
				<form action="" method="post" style="text-align:center; ">
					<table class="formtable_noborder" style="">
						<thead>
						</thead>
						<tbody>
							<tr>
								<th width="45%"><span th:text="账号"></span></th>
								<td width="55%"><input class="inputclass" type="text" name="username" /></td>
							</tr>
							<tr>
								<th width="45%"><span th:text="密码"></span></th>
								<td width="55%"><input class="inputclass" type="password" name="password" /></td>
							</tr>
					</table>
					    <!-- <p>账号：</p>
					    <p>密码：</p> -->
				    <p style="display: inline-block;">
				    	<!-- <input type="submit" class="btn_yes_public" style="font-size: 14px;" value=""/> -->
				    	<input type="submit" class="btn_public" style="font-size: 14px;" title="登录" value="✈"/>
				    </p>
				</form>
			</div><!-- END logo --> 
		</div>
	</div>
</div>
</body>
</html>