<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>登录 - 梦神十夜的小站</title>
</head>
<!-- <link rel="shortcut icon" href="/ico/logo-32.ico"> -->
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/css/mystyle.css"/>
<body>
<div id="wrap" class="container clearfix">
	<div th:include="common/header-whitout-login::pagination"></div>
	
	<div class="header_wrap">
		<div id="header_login" class="clearfix">
			<div id="logo_login">
				<h4 th:text="${message}" class="login_error"></h4>
				<!-- <form action="" method="post" style="text-align:center; "> -->
				<form action="/dologin" method="post" style="text-align:center; ">
					<table class="formtable_noborder" style="">
						<thead>
						</thead>
						<tbody>
							<tr>
								<th width="45%"><span th:text="账号"></span></th>
								<td width="55%"><input class="inputclass" type="text" name="username" /></td>
							</tr>
							<tr>
								<th width="45%"><span th:text="密码"></span></th>
								<td width="55%"><input class="inputclass" type="password" name="password" /></td>
							</tr>
							<tr>
								<th width="45%"><span th:text="验证码"></span></th>
								<td width="55%">
									<input type="text" name="captcha"/>
									<a href="javascript:void(0)" onclick="javascript:refreshCaptcha()">
										<img alt="验证码" th:src="@{/Captcha.jpg}" title="点击更换" id="captcha_img"/>
									</a>
    								<a href="javascript:void(0)" onclick="javascript:refreshCaptcha()" th:text="看不清换一张"></a><br/>
								</td>
							</tr>
							<tr style="display:none;">
								<th width="45%"><span></span></th>
								<td width="55%">
									<span><input type="checkbox" name="rememberMe" />记住我</span>
								</td>
							</tr>
					</table>
					    <!-- <p>账号：</p>
					    <p>密码：</p> -->
				    <p style="display: inline-block;">
				    	<!-- <input type="submit" class="btn_yes_public" style="font-size: 14px;" value=""/> -->
				    	<input type="submit" class="btn_public" style="font-size: 14px;" title="登录" value="✈"/>
				    </p>
				</form>
			</div><!-- END logo --> 
		</div>
	</div>
	
	<!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>
</body>
<script type="text/javascript">
	function refreshCaptcha(){
	    $("#captcha_img").attr("src","/Captcha.jpg?id=" + new Date() + Math.floor(Math.random()*24));
	}
</script>
</html>