<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>上传文件 - 梦神十夜的小站</title>
</head>
<body>
<div id="wrap" class="container clearfix">
	<!-- 引入导航栏 -->
	<div th:include="common/header::pagination"></div>
	
	<!-- 引入第二菜单 -->
	<div th:include="common/page::test-menu"></div>
    
    <div id="main" class="container">
    	<div id="add_content_replace_div"></div>
    	<div class="content alpha" id="content_main_apl">
    		<div class="entry clearfix">
				<form method="POST" action="/file/doUpload" enctype="multipart/form-data">
					<table class="formtable_noborder" style="width:100%;">
						<thead>
						</thead>
						<tbody>
							<tr>
								<th width="50%">
									<input type="file" name="file" style="height: 25px;"/>
								</th>
								<td width="50%">
									<input type="submit" value="Submit" class="btn_square_public" value="上传"/>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	
	<!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>
</body>
</html>