<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>水印 - 梦神十夜的小站</title>
</head>
<body>
<div id="wrap" class="container clearfix">
	<!-- 引入导航栏 -->
	<div th:include="common/header::pagination"></div>
	
	<div class="header_wrap_2">
		<!-- END header -->
		<div class="clearfix">
			<nav class="nav">
				<ul class="sf-menu" style="float:left;margin-bottom: 0px;margin-top:0px;">
					<li><a th:text="上传文件" th:href="@{/file/upload}"></a></li>
					<li><a style="background: #5d3d21;color:white;" th:text="添加水印" th:href="@{/file/water}"></a></li>
					<li><a th:text="折线图" th:href="@{/chart/line}"></a></li>
					<li><a th:text="柱状图" th:href="@{/chart/bar}"></a></li>
					<li><a th:text="饼图" th:href="@{/chart/pie}"></a></li>
					<li><a th:text="雷达图" th:href="@{/chart/radar}"></a></li>
					<li><a th:text="关系图" th:href="@{/chart/graph}"></a></li>
					<li><a th:text="仪表盘图" th:href="@{/chart/gauge}"></a></li>
					<li><a th:text="漏斗图" th:href="@{/chart/funnel}"></a></li>
				</ul>
			</nav>
		</div>
		<!-- END navigation -->
	</div>
    
    <div id="main" class="container">
    	<div id="add_content_replace_div"></div>
    	<div class="content alpha" id="content_main_apl">
    		<div class="entry clearfix">
				<form method="POST" action="/file/doUpload" enctype="multipart/form-data">
				<input type="hidden" name="type" value="water">
					<table class="formtable_noborder" style="width:100%;">
						<thead>
						</thead>
						<tbody>
							<tr>
								<th width="50%">
									<input type="file" name="file" style="height: 25px;"/>
								</th>
								<td width="50%">
									输入水印文字：<input class="inputclass" style="width:280px;" type="text" name="context" />
								</td>
							</tr>
							<tr>
								<th width="50%">
								</th> 
								<td width="50%">
									<input type="submit" value="Submit" class="btn_square_public" value="确定"/>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	
	<!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>
</body>
</html>