<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>div-test - 梦神十夜的小站</title>
</head>
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
<style>
.children_div {
	padding : 10px;
}
</style>
<body>
<div id="wrap" class="container clearfix">
	<div th:include="common/header::pagination"></div>
	
	<!-- 引入第二菜单 -->
	<div th:include="common/page::test-menu"></div>
	
	
	<div id="main"  class="container">
		<div class="alpha">
			<div class="entry clearfix">
				<div id="parent_div">
					<div class="children_div post-meta" id="div1">
						<!-- <textarea class="inputclass" type="text"  value=""></textarea> -->
						<span class="que_index" id="index-1"></span>
						<span class="id_index" id="id-1">id=1</span>
						<a class="onclick_insert_up"  href="javascript:void(0)" onclick= "javascript:add(this,0)" >向上新增</a>
						<a class="onclick_insert_down"  href="javascript:void(0)" onclick= "javascript:add(this,1)" >向下新增</a>
						<a class="onclick_up"  href="javascript:void(0)" onclick= "javascript:setup(this)" >上移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:setdown(this)" >下移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:del(this)" >删除</a>
					</div>
					<div class="children_div post-meta" id="div2">
						<!-- <textarea class="inputclass" type="text"  value=""></textarea> -->
						<span class="que_index" id="index-2"></span>
						<span class="id_index" id="id-2">id=2</span>
						<a class="onclick_insert_up"  href="javascript:void(0)" onclick= "javascript:add(this,0)" >向上新增</a>
						<a class="onclick_insert_down"  href="javascript:void(0)" onclick= "javascript:add(this,1)" >向下新增</a>
						<a class="onclick_up"  href="javascript:void(0)" onclick= "javascript:setup(this)" >上移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:setdown(this)" >下移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:del(this)" >删除</a>
					</div>
					<div class="children_div post-meta" id="div3">
						<!-- <textarea class="inputclass" type="text"  value=""></textarea> -->
						<span class="que_index" id="index-3"></span>
						<span class="id_index" id="id-3">id=3</span>
						<a class="onclick_insert_up"  href="javascript:void(0)" onclick= "javascript:add(this,0)" >向上新增</a>
						<a class="onclick_insert_down"  href="javascript:void(0)" onclick= "javascript:add(this,1)" >向下新增</a>
						<a class="onclick_up"  href="javascript:void(0)" onclick= "javascript:setup(this)" >上移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:setdown(this)" >下移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:del(this)" >删除</a>
					</div>
				</div>
				<div style="display:none;" id="new_div">
					<div class="children_div post-meta" id="{id}">
						<!-- <textarea class="inputclass" type="text"  value=""></textarea> -->
						<span class="que_index" id="index-{id}"></span>
						<span class="id_index" id="id-{id}">id={id}</span>
						<a class="onclick_insert_up"  href="javascript:void(0)" onclick= "javascript:add(this,0)" >向上新增</a>
						<a class="onclick_insert_down"  href="javascript:void(0)" onclick= "javascript:add(this,1)" >向下新增</a>
						<a class="onclick_up"  href="javascript:void(0)" onclick= "javascript:setup(this)" >上移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:setdown(this)" >下移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:del(this)" >删除</a>
					</div>
				</div>
				<a class="onclick_down" style=""  href="javascript:void(0)" onclick= "javascript:getdata(this)" >获取数据</a>
			</div>
		</div>
		
		<div class="alpha">
			<div class="entry clearfix">
				<div id="parent_div">
					<div class="children_div post-meta">
						<textarea style="width:600px;height:230px;" id="origin"></textarea>
					</div>
					<div class="children_div post-meta">
						<a  href="javascript:void(0)" onclick= "javascript:formattext(this)" >格式化转换</a>
					</div>
					<div class="children_div post-meta">
						<textarea style="width:600px;height:230px;" id="format"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$(".children_div").mouseover(function(e){
		
	}).mouseout(function(e){//不论鼠标指针离开指定元素还是该元素子元素，都会触发 mouseout 事件
		
	});
	flushIndex();
});
function getdata(){
	var list = $("#parent_div .id_index");
	var value = "";
	for(var i = 0; i<list.length;i++){
		var id = list[i].getAttribute('id');
		value = value + $("#"+id).html() + "\r"
	}
	//alert(Date.parse(new Date()) +"\r"+new Date().getTime());
	alert(value);
}
function flushIndex(){
	var list = $("#parent_div .que_index");
	var value = "";
	for(var i = 0; i<list.length;i++){
		var id = list[i].getAttribute('id');
		$("#"+id).html(i+1);
	}
	//alert(Date.parse(new Date()) +"\r"+new Date().getTime());
}
function setup(obj){
	var trLength = $("#parent_div .children_div").length;
	var orig = $(obj).parents();
	var id = orig.attr('id');
	var html = "<div class=\"children_div post-meta\" id=\"" +new Date().getTime()+"\">"+ $(obj).parents().html() + "</div>";
	//alert('index='+orig.index()+',id='+orig.attr('id'));
	if (orig.index() != 0) {
		$("#"+id).prev().before(html);
		$("#"+id).remove();
		//setTimeout(function(){$("#"+id).remove();}, 100);
		flushIndex();
	}else{
        alert('不能再上移了...');
    }
}
function setdown(obj){
	var trLength = $("#parent_div .children_div").length;
	var orig = $(obj).parents();
	var id = orig.attr('id');
	var html = "<div class=\"children_div post-meta\" id=\"" +new Date().getTime()+"\">"+ $(obj).parents().html() + "</div>";
	//alert('index='+orig.index()+',id='+orig.attr('id'));
	if (orig.index() != (trLength-1)) {
		$("#"+id).next().after(html);
		$("#"+id).remove();
		flushIndex();
	}else{
        alert('不能再下移了...');
    }
}
function add(obj,type){
	var html = $("#new_div").html().replace(/{id}/g,new Date().getTime());
	var orig = $(obj).parents();
	//alert($(obj).parents().attr('id'));
	//alert(html);
	var id = orig.attr('id');
	if(type == 0){
		//$(obj).parents().insertBefore($("#new_div").children()[0]);
		//$(obj).parents().before(html);
		$("#"+id).before(html);
		//alert(type);
	}else{
		//$(obj).parents().insertAfter($("#new_div").children()[0]);
		//$(obj).parents().after(html);
		$("#"+id).after(html);
		//alert(type);
	}
	flushIndex();
	//alert(type);
}
function del(obj){
	var trLength = $("#parent_div .children_div").length;
	if(trLength == 1){
		alert('不能再删除了...');
		return;
	}
	var orig = $(obj).parents();
	var id = orig.attr('id');
	$("#"+id).remove();
}

function formattext(obj){
	var text = $("#origin").val();
	var questionArry = new Array;
	var question = {'question_text':'',
			'question_type':'',
			'question_no':'',
			'answer_list' : ''
	};
	var answerArry = new Array;
	//按照回车分割
	var texts = text.split(/\n/g);
	for(var i = 0; i < texts.length; i++){
		if(texts[i] != null && texts[i] != ''){
			//过滤空格
			var str = texts[i].replace(/\s+/g,"");
			if(str != null && str != ''){
				if(isNumber(str.substring(0,1))){
					if(i > 0){
						question.answer_list = answerArry;
						questionArry.push(question);
					}
					var question = {'question_text':'',
									'question_type':'',
									'question_no':'',
									'answer_list' : ''
							};
					question.question_text = str;
					//获取标题index
					var strs = str.split(".");
					if(strs.length > 1 && isNumber(strs[0])){
						question.question_no = strs[0];
					}
					//获取中括号内的类型
					var bracks = getBrackets(str);
					if(bracks != ''){
						question.question_type = bracks;
					}
					
					answerArry = new Array;
				}else{
					var answer = {'answer_text':str,'answer_no':answerArry.length+1,'answer_type':''};
					//获取中括号内的类型
					var bracks = getBrackets(str);
					if(bracks != ''){
						answer.answer_type = bracks;
						answer.answer_text = str.substring(0,str.indexOf('['));
					}
					answerArry.push(answer);
					if(i == (texts.length - 1)){
						question.answer_list = answerArry;
						questionArry.push(question);
					}
				}
			}
		}
	}
	
	$("#format").val(JSON.stringify(questionArry));
}
function isNumber(str){
	return /^\d+$/.test(str);
}
function getBrackets(str){
	var strs = str.split("[");
	if(strs.length > 1 && strs[1].substring(strs[1].length-1,strs[1].length)==']'){
		return strs[1].substring(0,strs[1].length-1);
	}else return "";
}
</script>
</body>
</html>