<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>div-test - 梦神十夜的小站</title>
</head>
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/ztree/zTreeStyle.css"/>
<style>
.children_div {
	padding : 10px;
}
</style>
<body>
<div id="wrap" class="container clearfix">
	<div th:include="common/header::pagination"></div>
	
	<!-- 引入第二菜单 -->
	<div th:include="common/page::test-menu"></div>
	
	
	<div id="main"  class="container">
		<div class="alpha">
			<div class="entry clearfix">
				<h1>DIV动态新增上移下移</h1>
				<div id="parent_div">
					<div class="children_div post-meta" id="div1">
						<!-- <textarea class="inputclass" type="text"  value=""></textarea> -->
						<span class="que_index" id="index-1"></span>
						<span class="id_index" id="id-1">id=1</span>
						<a class="onclick_insert_up"  href="javascript:void(0)" onclick= "javascript:add(this,0)" >向上新增</a>
						<a class="onclick_insert_down"  href="javascript:void(0)" onclick= "javascript:add(this,1)" >向下新增</a>
						<a class="onclick_up"  href="javascript:void(0)" onclick= "javascript:setup(this)" >上移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:setdown(this)" >下移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:del(this)" >删除</a>
					</div>
					<div class="children_div post-meta" id="div2">
						<!-- <textarea class="inputclass" type="text"  value=""></textarea> -->
						<span class="que_index" id="index-2"></span>
						<span class="id_index" id="id-2">id=2</span>
						<a class="onclick_insert_up"  href="javascript:void(0)" onclick= "javascript:add(this,0)" >向上新增</a>
						<a class="onclick_insert_down"  href="javascript:void(0)" onclick= "javascript:add(this,1)" >向下新增</a>
						<a class="onclick_up"  href="javascript:void(0)" onclick= "javascript:setup(this)" >上移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:setdown(this)" >下移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:del(this)" >删除</a>
					</div>
					<div class="children_div post-meta" id="div3">
						<!-- <textarea class="inputclass" type="text"  value=""></textarea> -->
						<span class="que_index" id="index-3"></span>
						<span class="id_index" id="id-3">id=3</span>
						<a class="onclick_insert_up"  href="javascript:void(0)" onclick= "javascript:add(this,0)" >向上新增</a>
						<a class="onclick_insert_down"  href="javascript:void(0)" onclick= "javascript:add(this,1)" >向下新增</a>
						<a class="onclick_up"  href="javascript:void(0)" onclick= "javascript:setup(this)" >上移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:setdown(this)" >下移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:del(this)" >删除</a>
					</div>
				</div>
				<div style="display:none;" id="new_div">
					<div class="children_div post-meta" id="{id}">
						<!-- <textarea class="inputclass" type="text"  value=""></textarea> -->
						<span class="que_index" id="index-{id}"></span>
						<span class="id_index" id="id-{id}">id={id}</span>
						<a class="onclick_insert_up"  href="javascript:void(0)" onclick= "javascript:add(this,0)" >向上新增</a>
						<a class="onclick_insert_down"  href="javascript:void(0)" onclick= "javascript:add(this,1)" >向下新增</a>
						<a class="onclick_up"  href="javascript:void(0)" onclick= "javascript:setup(this)" >上移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:setdown(this)" >下移</a>
						<a class="onclick_down"  href="javascript:void(0)" onclick= "javascript:del(this)" >删除</a>
					</div>
				</div>
				<a class="onclick_down" style=""  href="javascript:void(0)" onclick= "javascript:getdata(this)" >获取数据</a>
			</div>
		</div>
		
		<div class="alpha">
			<div class="entry clearfix">
				<h1>问卷内容识别</h1>
				<div>
					<div class="children_div">
						<textarea style="width:600px;height:230px;" id="origin"></textarea>
					</div>
					<div class="children_div post-meta">
						<a  href="javascript:void(0)" onclick= "javascript:formattext(this)" >格式化转换</a>
					</div>
					<div class="children_div">
						<textarea style="width:600px;height:230px;" id="format"></textarea>
					</div>
				</div>
			</div>
		</div>
		
		<div class="alpha">
			<div class="entry clearfix">
				<h1>Ztree</h1>
				<div>
					<div class="children_div post-meta">
						<div id="ztree" class="ztree" style="overflow: auto;"></div>
						<!-- <select id="ztree"></select> -->
					</div>
				</div>
				<div class="children_div post-meta">
						<a  href="javascript:void(0)" onclick= "javascript:showCheckTree()" >查看选中节点</a>
					</div>
			</div>
		</div>
	</div>
	<!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>

<script type="text/javascript" src="/ztree/jquery.ztree.core-3.5.js" ></script>
<script type="text/javascript" src="/ztree/jquery.ztree.excheck-3.5.min.js" ></script>

<script type="text/javascript">
$(document).ready(function() {
	$(".children_div").mouseover(function(e){
		
	}).mouseout(function(e){//不论鼠标指针离开指定元素还是该元素子元素，都会触发 mouseout 事件
		
	});
	flushIndex();
	initZTree();
});
function getdata(){
	var list = $("#parent_div .id_index");
	var value = "";
	for(var i = 0; i<list.length;i++){
		var id = list[i].getAttribute('id');
		value = value + $("#"+id).html() + "\r"
	}
	//alert(Date.parse(new Date()) +"\r"+new Date().getTime());
	alert(value);
}
function flushIndex(){
	var list = $("#parent_div .que_index");
	var value = "";
	for(var i = 0; i<list.length;i++){
		var id = list[i].getAttribute('id');
		$("#"+id).html(i+1);
	}
	//alert(Date.parse(new Date()) +"\r"+new Date().getTime());
}
function setup(obj){
	var trLength = $("#parent_div .children_div").length;
	var orig = $(obj).parents();
	var id = orig.attr('id');
	var html = "<div class=\"children_div post-meta\" id=\"" +new Date().getTime()+"\">"+ $(obj).parents().html() + "</div>";
	//alert('index='+orig.index()+',id='+orig.attr('id'));
	if (orig.index() != 0) {
		$("#"+id).prev().before(html);
		$("#"+id).remove();
		//setTimeout(function(){$("#"+id).remove();}, 100);
		flushIndex();
	}else{
        alert('不能再上移了...');
    }
}
function setdown(obj){
	var trLength = $("#parent_div .children_div").length;
	var orig = $(obj).parents();
	var id = orig.attr('id');
	var html = "<div class=\"children_div post-meta\" id=\"" +new Date().getTime()+"\">"+ $(obj).parents().html() + "</div>";
	//alert('index='+orig.index()+',id='+orig.attr('id'));
	if (orig.index() != (trLength-1)) {
		$("#"+id).next().after(html);
		$("#"+id).remove();
		flushIndex();
	}else{
        alert('不能再下移了...');
    }
}
function add(obj,type){
	var html = $("#new_div").html().replace(/{id}/g,new Date().getTime());
	var orig = $(obj).parents();
	//alert($(obj).parents().attr('id'));
	//alert(html);
	var id = orig.attr('id');
	if(type == 0){
		//$(obj).parents().insertBefore($("#new_div").children()[0]);
		//$(obj).parents().before(html);
		$("#"+id).before(html);
		//alert(type);
	}else{
		//$(obj).parents().insertAfter($("#new_div").children()[0]);
		//$(obj).parents().after(html);
		$("#"+id).after(html);
		//alert(type);
	}
	flushIndex();
	//alert(type);
}
function del(obj){
	var trLength = $("#parent_div .children_div").length;
	if(trLength == 1){
		alert('不能再删除了...');
		return;
	}
	var orig = $(obj).parents();
	var id = orig.attr('id');
	$("#"+id).remove();
}

function formattext(obj){
	var text = $("#origin").val();
	var questionArry = new Array;
	var question = {'question_text':'',
			'question_type':'',
			'question_no':'',
			'answer_list' : ''
	};
	var answerArry = new Array;
	//按照回车分割
	var texts = splitStringBrk(text);
	for(var i = 0; i < texts.length; i++){
		var str = texts[i];
		//如果由数字开始，比如“ 1.第一个题目”，此情况判断为题目
		if(isNumber(str.substring(0,1))){
			//从第二个题目开始，将上一个题目的数据push到列表中
			if(i > 0){
				question.answer_list = answerArry;
				questionArry.push(question);
			}
			var question = {'question_text':'',
							'question_type':'',
							'question_no':'',
							'answer_list' : ''
					};
			question.question_text = str;
			//获取标题index
			var strs = str.split(".");
			if(strs.length > 1 && isNumber(strs[0])){
				question.question_no = strs[0];
			}
			//获取中括号内的类型
			var bracks = getBrackets(str);
			if(bracks != ''){
				question.question_type = bracks;
			}
			
			answerArry = new Array;
		}
		//其他情况则判断为选项
		else{
			var answer = {'answer_text':str,
						'answer_no':answerArry.length+1,
						'answer_type':''
					};
			//获取中括号内的类型，比如“D。其他内容[文本]”
			var bracks = getBrackets(str);
			if(bracks != ''){
				answer.answer_type = bracks;
				answer.answer_text = str.substring(0,str.indexOf('['));
			}
			answerArry.push(answer);
			if(i == (texts.length - 1)){
				question.answer_list = answerArry;
				questionArry.push(question);
			}
		}
	}
	
	$("#format").val(JSON.stringify(questionArry));
}
//按照回车分割并过滤掉空格和空行
function splitStringBrk(text){
	//按照回车分割
	var texts = text.split(/\n/g);
	var finaltexts = new Array;
	for(var i = 0; i < texts.length; i++){
		//过滤空格
		var str = texts[i].replace(/\s+/g,"");
		if(str != null && str != ''){
			finaltexts.push(str);
		}
	}
	return finaltexts;
}
function isNumber(str){
	return /^\d+$/.test(str);
}
function getBrackets(str){
	var strs = str.split("[");
	if(strs.length > 1 && strs[1].substring(strs[1].length-1,strs[1].length)==']'){
		return strs[1].substring(0,strs[1].length-1);
	}else return "";
}
/**
 * 
 
1.第000个题目[主观题]
2.第一个题目[单选题]
A答案1
B答案2
C答案3

3.第二个题目[多选题]
A答案4
B答案5
C答案6
D其他[文本]



4.第3个题目[排序题]
A答案0
B答案9
C答案8
5.THE QUESTIONS4
ANSWER1
ANSWER2

 */
 
function initZTree(){
	var setting = {
		check : {
			/* enable : false,
			nocheckInherit : false */
			enable: true,
			chkStyle: "checkbox",
			/*
				Y 属性定义 checkbox 被勾选后的情况。 
				N 属性定义 checkbox 取消勾选后的情况； 
				"p" 表示操作会影响父级节点； 
				"s" 表示操作会影响子级节点。
			*/
			//表示checkbox勾选操作，仅仅影响子节点；取消勾选操作。影响父子节点
			chkboxType: { "Y": "ps", "N": "ps" }
		},
		data : {
			key : { name: "text"},
			simpleData : {
				enable : true,
				idKey : "id",
				pIdKey : "pid",
			}
		},
		callback:{
				onClick: onClick
			}
	};
	var data = [{id:'1',text:'福建',pid:''},
	            {id:'10',text:'泉州',pid:'1'},
	            {id:'11',text:'厦门',pid:'1'},
	            {id:'12',text:'福州',pid:'1'},
	            {id:'13',text:'漳州',pid:'1'},
	            {id:'14',text:'南安',pid:'1'},
	            {id:'15',text:'南安',pid:'1'},
	            {id:'16',text:'南安',pid:'1'},
	            {id:'17',text:'南安',pid:'1'},
	            {id:'18',text:'南安',pid:'1'},
	            {id:'19',text:'南安',pid:'1'},
	            {id:'191',text:'南安',pid:'19'},
	            {id:'192',text:'南安',pid:'19'},
	            {id:'193',text:'南安',pid:'19'},
	            {id:'194',text:'南安',pid:'19'},
	            {id:'195',text:'南安',pid:'19'},
	            {id:'196',text:'南安',pid:'19'},
	            {id:'197',text:'南安',pid:'19'},
	            {id:'198',text:'南安',pid:'19'},
	            {id:'199',text:'南安',pid:'19'},
	            {id:'2',text:'北京',pid:''},
	            {id:'3',text:'天津',pid:''},
	            {id:'4',text:'江苏',pid:''},
	            {id:'41',text:'苏州',pid:'4'},
	            {id:'42',text:'无锡',pid:'4'},
	            {id:'43',text:'常州',pid:'4'},
	            {id:'44',text:'南京',pid:'4'},
	            {id:'45',text:'苏北',pid:'4'},
	            {id:'46',text:'苏北',pid:'4'},
	            {id:'47',text:'苏北',pid:'4'},
	            {id:'48',text:'苏北',pid:'4'},
	            {id:'49',text:'苏北',pid:'4'},
	            {id:'5',text:'福建',pid:''},
	            {id:'50',text:'泉州',pid:'5'},
	            {id:'51',text:'厦门',pid:'5'},
	            {id:'52',text:'福州',pid:'5'},
	            {id:'53',text:'漳州',pid:'5'},
	            {id:'54',text:'南安',pid:'5'},
	            {id:'55',text:'南安',pid:'5'},
	            {id:'56',text:'南安',pid:'5'},
	            {id:'57',text:'南安',pid:'5'},
	            {id:'58',text:'南安',pid:'5'},
	            {id:'59',text:'南安',pid:'5'},
	            {id:'6',text:'福建',pid:''},
	            {id:'60',text:'泉州',pid:'6'},
	            {id:'61',text:'厦门',pid:'6'},
	            {id:'62',text:'福州',pid:'6'},
	            {id:'63',text:'漳州',pid:'6'},
	            {id:'64',text:'南安',pid:'6'},
	            {id:'65',text:'南安',pid:'6'},
	            {id:'66',text:'南安',pid:'6'},
	            {id:'67',text:'南安',pid:'6'},
	            {id:'68',text:'南安',pid:'6'},
	            {id:'69',text:'南安',pid:'6'},
	            {id:'7',text:'福建',pid:''},
	            {id:'70',text:'泉州',pid:'7'},
	            {id:'71',text:'厦门',pid:'7'},
	            {id:'72',text:'福州',pid:'7'},
	            {id:'73',text:'漳州',pid:'7'},
	            {id:'74',text:'南安',pid:'7'},
	            {id:'75',text:'南安',pid:'7'},
	            {id:'76',text:'南安',pid:'7'},
	            {id:'77',text:'南安',pid:'7'},
	            {id:'78',text:'南安',pid:'7'},
	            {id:'79',text:'南安',pid:'7'},
	            {id:'8',text:'福建',pid:''},
	            {id:'80',text:'泉州',pid:'8'},
	            {id:'81',text:'厦门',pid:'8'},
	            {id:'82',text:'福州',pid:'8'},
	            {id:'83',text:'漳州',pid:'8'},
	            {id:'84',text:'南安',pid:'8'},
	            {id:'85',text:'南安',pid:'8'},
	            {id:'86',text:'南安',pid:'8'},
	            {id:'87',text:'南安',pid:'8'},
	            {id:'88',text:'南安',pid:'8'},
	            {id:'89',text:'南安',pid:'8'},
	            {id:'9',text:'福建',pid:''},
	            {id:'90',text:'泉州',pid:'9'},
	            {id:'91',text:'厦门',pid:'9'},
	            {id:'92',text:'福州',pid:'9'},
	            {id:'93',text:'漳州',pid:'9'},
	            {id:'94',text:'南安',pid:'9'},
	            {id:'95',text:'南安',pid:'9'},
	            {id:'96',text:'南安',pid:'9'},
	            {id:'97',text:'南安',pid:'9'},
	            {id:'98',text:'南安',pid:'9'},
	            {id:'99',text:'南安',pid:'9'}
	            ];
			
	$.fn.zTree.init($("#ztree"), setting, data);
}
function onClick(event, treeId, treeNode){
	alert(1);
	var treeObj = $.fn.zTree.getZTreeObj("ztree");
    nodes = treeObj.getCheckedNodes(true);
    v = "";
    for (var i = 0; i < nodes.length; i++) {
        v += nodes[i].name + ",";
        console.log("节点id:" + nodes[i].id + "节点名称" + v); //获取选中节点的值
    }
}
function showCheckTree(){
	var nodes = $.fn.zTree.getZTreeObj("ztree").getCheckedNodes(true);
	var v = "";
	for (var i = 0; i < nodes.length; i++) {
		var str = nodes[i].id + "--" + nodes[i].text+"--"+nodes[i].pid + "\r";
        v +=  str;
    }
	alert(v);
}
</script>
</body>
</html>