<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${session.user_session.realname}+的日志-梦神十夜的小站"></title>
</head>

<body>
<div id="wrap" class="container clearfix">
	<!-- 引入导航栏 -->
	<div th:include="common/header::pagination"></div>
	
	<!-- 引入第二菜单 -->
	<div th:include="common/page::sys-manager-menu"></div>
    
    <div id="main" class="container">
    	<div class="content alpha" id="content_main_apl">
    		<!-- 循环咨询列表start -->
    		<div class="entry clearfix" th:each="info:${list}">
				<h1><a class="post-title"  rel="bookmark" th:text="${info.parameter}"></a></h1>
			
				<div class="clear"></div>
				<div class="entry-content ">
					<!-- <a th:href="@{/article/user/{uid}/1(uid=${info.id})}" rel="tag"><img th:src="${info.img}" class="thumb"/></a> -->
					<div id="me_div_box" class="add_box">	
					<!-- <p style="display:none;" class="cloudreamHelperLink" codetype="postmulti" entryid="5655"> -->
						<a rel="tag">
							<img th:src="${info.sysUser.img}" class="thumb" style="width: 200px;float:left;border-radius: 100px;"/>
						</a>
						<table class="formtable_noborder" style="width:70%;font-size: 16px;float: left;">
							<thead>
							</thead>
							<tbody>
								<tr>
									<th width="30%"><span th:text="ID"></span></th>
									<td width="70%"><span th:text="${info.id}"></span></td>
								</tr>
								<tr>
									<th width="30%"><span th:text="用户名称"></span></th>
									<td width="70%"><span th:text="${info.sysUser.realname}"></span></td>
								</tr>
								<tr>
									<th width="30%"><span th:text="访问URL"></span></th>
									<td width="70%"><span th:text="${info.url}"></span></td>
								</tr>
								<tr>
									<th width="30%"><span th:text="请求IP"></span></th>
									<td width="70%"><span th:text="${info.ip}"></span></td>
								</tr>
								<tr>
									<th width="30%"><span th:text="地址"></span></th>
									<!-- <td width="70%"><span class="address-class" th:text="${info.ip}" th:id="${info.id}+'ip'"></span></td> -->
									<td width="70%"><span th:text="${info.address}"></span></td>
								</tr>
								<tr>
									<th width="30%"><span th:text="参数"></span></th>
									<td width="70%"><span th:text="${info.parameter}"></span></td>
								</tr>
								<!-- <tr>
									<th width="30%"><span th:text="备注"></span></th>
									<td width="70%"><span th:text="${info.comment}"></span></td>
								</tr> -->
								<tr>
									<th width="30%"><span th:text="访问时间"></span></th>
									<td width="70%">
										<span th:text="${info.createTm != null} ? ${#dates.format(info.createTm, 'yyyy年MM月dd日 HH:mm')}:'-'"></span>
									</td>
								</tr>
								<tr>
									<th width="30%"><span th:text="方法执行时间"></span></th>
									<td width="70%"><span th:text="${info.executeTime}+ms"></span></td>
								</tr>
							</tbody>
						</table>
					<!-- </p> -->
					</div>
				</div>
				<!-- END post-bottom -->
			</div>
			<!-- 循环咨询列表end -->
			
			<!-- 引入分页 -->
			<div th:include="common/page::common-pagination"></div>
			
    	</div>
    </div>
    
    <!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>
<!-- 引入底部 -->
<div th:include="common/footer::common-pagination"></div>
</body>

<script type="text/javascript">
	$(document).ready(function() {
		/* var list = $(".address-class");
		for(var i = 0; i<list.length;i++){
			var id = list[i].getAttribute('id');
			var ip = $("#"+id).text();
			//getIpAddress("218.192.3.42");
			getIpAddress(ip);
		} */
	});
	
	function getIpAddress(ip){
		var script = document.createElement('script');
	    script.type = 'text/javascript';
	    // 传参并指定回调执行函数为onBack
	    script.src = "http://whois.pconline.com.cn/ipJson.jsp?ip="+ip;
	    document.head.appendChild(script);
	}
	/*{"ip":"211.97.129.146",
		"pro":"福建省",
		"proCode":"350000",
		"city":"福州市",
		"cityCode":"350100",
		"region":"",
		"regionCode":"0",
		"addr":"福建省福州市 联通",
		"regionNames":"",
		"err":""}
	
	*/
	function IPCallBack(data){
		console.log(data);
		var list = $(".address-class");
		for(var i = 0; i<list.length;i++){
			var id = list[i].getAttribute('id');
			var ip = $("#"+id).text();
			//getIpAddress("218.192.3.42");
			if(ip == data.ip){
				$("#"+id).text(data.addr);
			}
		}
	}
</script>
</html>