<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>创建富文本文章 - 梦神十夜的小站</title>
</head>
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>

<script language="javascript" charset="utf-8" type="text/javascript" src="/ueditor.config.js"></script>
<script language="javascript" charset="utf-8" type="text/javascript" src="/ueditor.all.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/themes/default/css/ueditor.min.css" />

<body>
<div id="wrap" class="container clearfix">
	<div th:include="common/header::pagination"></div>
    
    <div id="main" class="container">
    	<form method="post" action="/article/addUeditor" id="form" onsubmit="return check()">
	    	<div class="content alpha">
	    		<div class="entry clearfix">
					<input type="hidden" name="id" id="id_ue" th:value="${info.id}"/>
					<table class="formtable_noborder" style="">
						<thead>
						</thead>
						<tbody>
							<tr>
								<th width="10%"><span th:text="标题"></span></th>
								<td width="90%">
									<input class="inputclass textarea_count" style="width: 85%;" type="text" name="title" id="title_ue" maxlength="100" placeholder="最多可输入100个字" th:value="${info.title}"/>
									<span class="t_h"><i>0</i>/100</span>
								</td>
							</tr>
							<tr>
								<th width="10%"><span th:text="简介"></span></th>
								<td width="90%">
									<textarea class="textarea_count" name="shortContext" id="shortContext_ue" style="width:85%;height:160px;" maxlength="300" placeholder="最多可输入300个字" th:text="${info.shortContext}"></textarea>
									<span class="t_h"><i>0</i>/300</span>
								</td>
							</tr>
							<tr>
								<th width="10%"><span th:text="内容"></span></th>
								<td width="90%">
									<textarea class="textarea_count" name="context" id="context_ue" style="width:85%;height:430px;" maxlength="3000" placeholder="最多可输入3000个字" th:text="${info.context}"></textarea>
								</td>
							</tr>
							<tr>
								<th width="15%"></th>
								<td width="85%">
									<span th:text="是否发布外网"></span><input type="checkbox" name="contextType" id="contextType" value="02" th:checked="${info.contextType == '02'}"/>是
								</td>
							</tr>
							<tr>
								<th width="15%"></th>
								<td width="85%">
									<span th:text="发送EMAIL"></span><input type="checkbox" name="isSendMail" id="isSendMail" value="1"/>同步发送到E-MAIL
								</td>
							</tr>
						</tbody>
					</table>
					
					<div class="page_div">
						<span class="page_span">
							<!-- <input type="button" class="btn_no_public" th:onclick= "'javascript:cancle()'" value=""/>
							<input type="button" class="btn_yes_public" th:onclick= "'javascript:add('+${session.user_session.id}+')'" value=""/> -->
							<input type="submit" class="btn_public btn_public_gou btn_public_gray" th:onclick= "'javascript:submitForm('+${session.user_session.id}+')'" value=""/>
						</span>
					</div>
							
				</div>
	    	</div>
    	</form>
    </div>
    
    <!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>

<!-- 引入底部 -->
<div th:include="common/footer::common-pagination"></div>

<script type="text/javascript">
	var editor;
	$(document).ready(function() {
		//editor = new baidu.editor.ui.Editor();
		//editor.render("context_ue");
		$("form").submit(function(msgjsonobj){
			$.showAlertMessage("success","保存成功", msgjsonobj.status + "-" + msgjsonobj.desc + " 保存成功!" , function(){
				
			});	
		});
	});
	function check(){
		if ($("#title_ue").val() == null || $("#title_ue").val() == "") {
			alert("请输入标题!");
			return false;
		}
		if ($("#shortContext_ue").val() == null || $("#shortContext_ue").val() == "") {
			alert("请输入简介!");
			return false;
		}
		if ($("#context_ue").val() == null || $("#context_ue").val() == "") {
			alert("请输入内容!");
			return false;
		}
		return true;
	}
	
	function uefunction(){
		//实例化编辑器到id为 container 的 dom 容器上：
		var ue = UE.getEditor('container');
		//设置编辑器内容：
		ue.ready(function() {
		    ue.setContent('<p>hello!</p>');
		});
		//追加编辑器内容：
		ue.ready(function() {
		    ue.setContent('<p>new text</p>', true);
		});
		//获取编辑器html内容：
		ue.ready(function() {
		    var html = ue.getContent();
		});
		//获取纯文本内容：
		ue.getContentTxt();
		//获取保留格式的文本内容：
		ue.getPlainTxt();
		//获取纯文本内容：
		ue.getContentTxt();
		//判断编辑器是否有内容：
		ue.hasContents();
		//让编辑器获得焦点：
		ue.focus();
		//让编辑器获得焦点
		ue.blur();
		//判断编辑器是否获得焦点：
		ue.isFocus();
		//设置当前编辑区域不可编辑：
		ue.setDisabled();
		//设置当前编辑区域可以编辑：
		ue.setEnabled();
		//隐藏编辑器：
		ue.setHide();
		//显示编辑器：
		ue.setShow();
		//获得当前选中的文本：
		ue.selection.getText();
		//常用命令：
		//在当前光标位置插入html内容
		ue.execCommand('inserthtml', '<span>hello!</span>');
		//设置当前选区文本格式：
		ue.execCommand('bold'); //加粗
		ue.execCommand('italic'); //加斜线
		ue.execCommand('subscript'); //设置上标
		ue.execCommand('supscript'); //设置下标
		ue.execCommand('forecolor', '#FF0000'); //设置字体颜色
		ue.execCommand('backcolor', '#0000FF'); //设置字体背景颜色
		//回退编辑器内容：
		ue.execCommand('undo');
		//撤销回退编辑器内容：
		ue.execCommand('redo');
		//切换源码和可视化编辑模式：
		ue.execCommand('source');
		//选中所有内容：
		ue.execCommand('selectall');
		//清空内容：
		ue.execCommand('cleardoc');
		//读取草稿箱
		ue.execCommand('drafts');
		//清空草稿箱
		ue.execCommand('clearlocaldata');
	}
</script>
	
	
</body>
</html>