<div th:fragment="common-pagination">
	<div class="bottom"></div>
	<div class="up_down_main">
		<div class="up_down_div" id="sco_up"><a class="btn_public">顶</a></div>
		<div class="up_down_div" id="sco_down"><a class="btn_public">底</a></div>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#sco_up").click(function(){$('html,body').animate({scrollTop: '0px'}, 800);});
		$('#sco_down').click(function(){$('html,body').animate({scrollTop:$('.bottom').offset().top}, 800);});
		//$('#sco_comment').click(function(){$('html,body').animate({scrollTop:$('#comment_point').offset().top}, 800);});
		
		/* $('a[href*=#],area[href*=#]').click(function() {  
            //console.log(this.pathname)  
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {  
                var $target = $(this.hash);  
                $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');  
                if ($target.length) {  
                    var targetOffset = $target.offset().top;  
                    $('html,body').animate({  
                                scrollTop: targetOffset  
                            },  
                            1000);  
                    return false;  
                }  
            }  
        }); */
		
	});
	</script>
</div>

<div th:fragment="comment-pagination">
	<div class="bottom"></div>
	<div class="up_down_main">
		<div class="up_down_div" id="sco_up"><a class="btn_public">顶</a></div>
		<div class="up_down_div" id="sco_comment"><a class="btn_public">评</a></div>
		<div class="up_down_div" id="sco_down"><a class="btn_public">底</a></div>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#sco_up").click(function(){$('html,body').animate({scrollTop: '0px'}, 800);});
		$('#sco_down').click(function(){$('html,body').animate({scrollTop:$('.bottom').offset().top}, 800);});
		$('#sco_comment').click(function(){$('html,body').animate({scrollTop:$('#comment_point').offset().top}, 800);});
		
	});
	</script>
</div>