<div th:fragment="pagination">
<!-- 
                   _ooOoo_
                  o8888888o
                  88" . "88
                  (| -_- |)
                  O\  =  /O
               ____/`---'\____
             .'  \\|     |//  `.
            /  \\|||  :  |||//  \
           /  _||||| -:- |||||-  \
           |   | \\\  -  /// |   |
           | \_|  ''\---/''  |   |
           \  .-\__  `-`  ___/-. /
         ___`. .'  /--.--\  `. . __
      ."" '<  `.___\_<|>_/___.'  >'"".
     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
     \  \ `-.   \_ __\ /__ _/   .-` /  /
======`-.____`-.___\_____/___.-`____.-'======
                   `=---='
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
				佛祖保佑       永无BUG
 -->
 	<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
 	<link rel="stylesheet" type="text/css" media="all" href="/css/mystyle.css"/>
 	<link rel="stylesheet" type="text/css" media="all" href="/css/jquery-ui.min.css"/>
 	
	<script type="text/javascript" src="/js/jquery.js" ></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js" ></script>
	<script type="text/javascript" src="/js/jquery-common.js" ></script>
	<script type="text/javascript" src="/js/header.js" ></script>
	
	
		
	<div class="header_wrap" id="top_banner">
		<div id="header" class="clearfix">
			<div id="logo">
				<h2>
					<a href="/" title="梦神十夜的小站" rel="home bookmark">
					<span class="header-logo-span" style="">梦</span>
					<span class="header-logo-span" style="">神</span>
					<span class="header-logo-span" style="border-radius: 20px;">十</span>
					<span class="header-logo-span" style="">夜</span>
					<span class="header-logo-span" style="">的</span>
					<span class="header-logo-span" style="border-radius: 20px;">小</span>
					<span class="header-logo-span" style="">站</span>
					</a>
				</h2>
			</div>
			<!-- END logo -->
		</div>
		<!-- END header -->
		<div id="navigation" class="clearfix">
			<nav class="nav">
				<a href="javascript:void(0)" th:onclick= "'javascript:showme()'"><img class="title_img" th:src="${session.user_session.img}"/></a>
				<ul class="sf-menu">
					<li><a th:text="文章" th:href="@{/article/list/1}"></a></li>
					<li><a th:text="评论" th:href="@{/comment/list/1}"></a></li>
					<li><a th:text="发布速记" href="javascript:void(0)" th:onclick= "'javascript:show()'"></a></li>
					<li><a th:text="发布详情" th:href="@{/article/ueditor/0}"></a></li>
					<li><a th:text="我的文章" th:href="@{/article/user/{uid}/1(uid=${session.user_session.id})}"></a></li>
					<li><a th:text="我的评论" th:href="@{/comment/user/{uid}/1(uid=${session.user_session.id})}"></a></li>
					<li><a th:text="TEST" th:href="@{/chart/line}"></a></li>
					<li><a th:text="系统管理" th:href="@{/user/list/1}"></a></li>
					<!-- <li class="show_menu" childid="user_menu_drop" id="show_user_menu_drop"><a th:text="MY" href="javascript:void(0)"></a></li> -->
					<!--<li class="show_menu" childid="chart_menu_drop" id="show_chart_menu_drop" th:style="${session.user_session.role.id != 100001}? 'display:none':''">
						<a th:text="TEST" href="javascript:void(0)"></a>
					</li>-->
					<!--<li class="show_menu" childid="sys_menu_drop" id="show_sys_menu_drop" th:style="${session.user_session.role.id != 100001}? 'display:none':''">
						<a th:text="系统管理" href="javascript:void(0)"></a>
					</li>-->
					<li><a th:text="注销" th:href="@{/logout}"></a></li>
				</ul>
			</nav>
		</div>
		
		<!-- END navigation -->
	</div>
	
	<!--<div id="sys_menu_drop" class="clearfix-menu menu_drop">
		<nav class="nav">
			<ul class="sf-menu-2">
				<li><a th:text="用户管理" th:href="@{/user/list/1}"></a></li>
				<li><a th:text="菜单管理" th:href="@{/system/menu/1}"></a></li>
				<li><a th:text="角色管理" th:href="@{/system/role/1}"></a></li>
				<li><a th:text="日志管理" th:href="@{/user/alllog/1}"></a></li>
				<li><a th:text="我的信息" href="javascript:void(0)" th:onclick= "'javascript:showme()'"></a></li>
				<li><a th:text="修改密码" href="javascript:void(0)" th:onclick= "'javascript:showPwd()'"></a></li>
				<li><a th:text="创建用户" href="javascript:void(0)" th:onclick= "'javascript:showAddUser()'"></a></li>
			</ul>
		</nav>	
	</div>
	<div id="user_menu_drop" class="clearfix-menu menu_drop">
		<nav class="nav">
			<ul class="sf-menu-2">
				<li><a th:text="我的文章" th:href="@{/article/user/{uid}/1(uid=${session.user_session.id})}"></a></li>
				<li><a th:text="我的评论" th:href="@{/comment/user/{uid}/1(uid=${session.user_session.id})}"></a></li>
			</ul>
		</nav>	
	</div>
	<div id="chart_menu_drop" class="clearfix-menu menu_drop" >
		<nav class="nav">
			<ul class="sf-menu-2">
				<li><a th:text="上传文件" th:href="@{/file/upload}"></a></li>
				<li><a th:text="添加水印" th:href="@{/file/water}"></a></li>
				<li><a th:text="折线图" th:href="@{/chart/line}"></a></li>
				<li><a th:text="柱状图" th:href="@{/chart/bar}"></a></li>
				<li><a th:text="饼图" th:href="@{/chart/pie}"></a></li>
				<li><a th:text="雷达图" th:href="@{/chart/radar}"></a></li>
				<li><a th:text="关系图" th:href="@{/chart/graph}"></a></li>
				<li><a th:text="仪表盘图" th:href="@{/chart/gauge}"></a></li>
				<li><a th:text="漏斗图" th:href="@{/chart/funnel}"></a></li>
			</ul>
		</nav>	
	</div>-->
	
	<!-- <div class="header_wrap" style="z-index:99999;text-align: center;align-items: center;padding-left: 0px;position: fixed;left: 0;bottom: 0;width: 100%;height: 15px;">
		<div id="header_login" class="clearfix" style="margin-top: 3px;">
			<div>
				<a class="post-title" href="http://www.beian.miit.gov.cn/" target="_blank">闽ICP备19010695号</a>
			</div>END logo 
		</div>
	</div> -->
	
	 
	
	<!-- 以下为各个弹出页面 -->
	<!-- 新增文章弹出页面 -->
	<div id="add_div" class="add_main" style="display:none;" title="写文章">
		<!-- <h3 class="add_div_title">写文章<span class="add_div_title_cnl">X</span></h3> -->
		<div id="add_div_box" class="add_box">
			<input type="hidden" name="article_id" id="article_id_s" value=""/>
			<table class="formtable_noborder" style="">
				<thead>
				</thead>
				<tbody>
					<tr>
						<th width="15%"><span th:text="标题"></span></th>
						<td width="85%">
							<input class="inputclass textarea_count" style="width: 600px;" type="text" name="title" id="title_s" maxlength="100" placeholder="最多可输入100个字"/>
							<span class="t_h"><i>0</i>/100</span>
						</td>
					</tr>
					<tr>
						<th width="15%"><span th:text="简介"></span></th>
						<td width="85%">
							<textarea class="textarea_count" name="shortContext" id="shortContext_s" style="width:600px;" maxlength="300" placeholder="最多可输入300个字"></textarea>
							<span class="t_h"><i>0</i>/300</span>
						</td>
					</tr>
					<tr>
						<th width="15%"><span th:text="内容"></span></th>
						<td width="85%">
							<textarea class="textarea_count" name="context" id="context_s" style="width:600px;height:230px;" maxlength="3000" placeholder="最多可输入3000个字"></textarea>
							<span class="t_h"><i>0</i>/3000</span>
						</td>
					</tr>
					<tr>
						<th width="15%"><span th:text="是否发布外网"></span></th>
						<td width="85%">
							<input type="checkbox" name="contextType" id="contextType" value="02"/>是
						</td>
					</tr>
					<tr>
						<th width="15%"><span th:text="发送EMAIL"></span></th>
						<td width="85%">
							<input type="checkbox" name="isSendMail" id="isSendMail" value="1"/>同步发送到E-MAIL
						</td>
					</tr>
				</tbody>
			</table>
			
			<div class="add_btn">
				<!-- <input type="button" class="btn_no_public" th:onclick= "'javascript:cancle()'" value=""/>
				<input type="button" class="btn_yes_public" th:onclick= "'javascript:add('+${session.user_session.id}+')'" value=""/> -->
				<input type="button" class="btn_public btn_public_no_text" th:onclick= "'javascript:cancle()'" />
				<input type="button" class="btn_public btn_public_yes_text" th:onclick= "'javascript:add('+${session.user_session.id}+')'" />
			</div>
			
		</div>
	</div>
	
	<!-- 个人用户信息弹出页面 -->
	<div id="me_div" class="add_main" style="display:none;" title="个人信息">
		<!-- <h3 class="add_div_title">个人信息<span class="add_div_title_cnl">X</span></h3> -->
		<div id="me_div_box" class="add_box">
			<div>
				<img th:src="${session.user_session.img}" class="thumb" style="width: 220px;float:left;border-radius: 110px;"/>
				<table class="formtable_noborder" style="width:50%;">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th width="30%"><span th:text="用户ID"></span></th>
							<td width="70%"><span th:text="${session.user_session.id}"></span></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="登录号"></span></th>
							<td width="70%"><span th:text="${session.user_session.loginName}"></span></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="salt"></span></th>
							<td width="70%"><span th:text="${session.user_session.salt}"></span></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="角色"></span></th>
							<td width="70%"><span th:text="${session.user_session.role.description}"></span></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="用户名称"></span></th>
							<td width="70%"><input class="inputclass" style="width:280px;" type="text" name="realname" id="realname_s" th:value="${session.user_session.realname}" maxlength="10" placeholder="最多可输入10个字"/></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="性别"></span></th>
							<td width="70%">
								<input class="" type="radio" name="sexCd_s" value="0" id="sexCd_s" th:text="女" th:checked="${session.user_session.sexCd == '0'}?checked"/>
								<input class="" type="radio" name="sexCd_s" value="1" id="sexCd_s" th:text="男" th:checked="${session.user_session.sexCd == '1'}?checked"/>
							</td>
						</tr>
						<tr>
							<th width="30%"><span th:text="e-mail"></span></th>
							<td width="70%"><input class="inputclass" style="width:280px;" type="text" name="email" id="email_s" th:value="${session.user_session.email}" maxlength="50" placeholder="最多可输入50个字"/></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="联系方式"></span></th>
							<td width="70%"><input class="inputclass" style="width:280px;" type="text" name="phone" id="phone_s" th:value="${session.user_session.phone}" maxlength="20" placeholder="最多可输入20个字"/></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="头像"></span></th>
							<td width="70%">
								<textarea name="img" id="img_s" style="width:280px;height: 50px;" th:text="${session.user_session.img}" maxlength="300" placeholder="最多可输入300个字"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="add_btn">
				<!-- <input type="button" class="btn_no_public" th:onclick= "'javascript:cancleme()'" value=""/>
				<input type="button" class="btn_yes_public" th:onclick= "'javascript:saveuser('+${session.user_session.id}+')'" value=""/> -->
				<input type="button" class="btn_public btn_public_no_text" th:onclick= "'javascript:cancleme()'" />
				<input type="button" class="btn_public btn_public_save_text" th:onclick= "'javascript:saveuser('+${session.user_session.id}+')'" />
			</div>
			
		</div>
	</div>
	
	<!-- 修改密码弹出页面 -->
	<div id="upd_pwd_div" class="add_main" style="display:none;" title="修改密码">
		<!-- <h3 class="add_div_title">修改密码<span class="add_div_title_cnl">X</span></h3> -->
		<div id="upd_pwd_div_box" class="add_box">
			<div>
				<table class="formtable_noborder" style="">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th width="40%"><span th:text="原密码"></span></th>
							<td width="60%"><input class="inputclass" type="password" name="old_pwd" id="old_pwd" /></td>
						</tr>
						<tr>
							<th width="40%"><span th:text="新密码"></span></th>
							<td width="60%"><input class="inputclass" type="password" name="new_pwd" id="new_pwd" /></td>
						</tr>
						<tr>
							<th width="40%"><span th:text="确认新密码"></span></th>
							<td width="60%"><input class="inputclass" type="password" name="re_new_psd" id="re_new_psd" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="add_btn">
				<!-- <input type="button" class="btn_no_public" th:onclick= "'javascript:canclePwd()'" value=""/>
				<input type="button" class="btn_yes_public" th:onclick= "'javascript:updPwd('+${session.user_session.id}+')'" value=""/> -->
				<input type="button" class="btn_public btn_public_no_text" th:onclick= "'javascript:canclePwd()'"/>
				<input type="button" class="btn_public btn_public_save_text" th:onclick= "'javascript:updPwd('+${session.user_session.id}+')'"/>
			</div>
			
		</div>
	</div>
	
	<!-- 新增用户弹出页面 -->
	<div id="add_user_div" class="add_main" style="display:none;" title="创建用户">
		<!-- <h3 class="add_div_title">创建用户<span class="add_div_title_cnl">X</span></h3> -->
		<div id="add_user_div_box" class="add_box">
			<div>
				<table class="formtable_noborder" style="">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th width="40%"><span th:text="登录号"></span></th>
							<td width="60%"><input class="inputclass" type="text" name="new_loginName" id="new_loginName" maxlength="20" placeholder="最多可输入20个字"/></td>
						</tr>
						<tr>
							<th width="40%"><span th:text="姓名"></span></th>
							<td width="60%"><input class="inputclass" type="text" name="new_realname" id="new_realname" maxlength="10" placeholder="最多可输入10个字"/></td>
						</tr>
						<tr>
							<th width="40%"><span th:text="角色"></span></th>
							<td width="60%">
								<select class="inputclass" id="new_role_id" name="new_role_id">
									
								</select>
							</td>
						</tr>
						<tr>
							<th width="40%"><span th:text="密码"></span></th>
							<td width="60%"><input class="inputclass" type="password" name="new_password" id="new_password" /></td>
						</tr>
						<tr>
							<th width="40%"><span th:text="确认密码"></span></th>
							<td width="60%"><input class="inputclass" type="password" name="re_new_password" id="re_new_password" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="add_btn">
				<!-- <input type="button" class="btn_no_public" th:onclick= "'javascript:cancleUser()'" value=""/>
				<input type="button" class="btn_yes_public" th:onclick= "'javascript:addUser()'" value=""/> -->
				<input type="button" class="btn_public btn_public_no_text" th:onclick= "'javascript:cancleUser()'"/>
				<input type="button" class="btn_public btn_public_save_text" th:onclick= "'javascript:addUser()'" />
			</div>
			
		</div>
	</div>
	
	<!-- 新增文章回调填充样式 -->
	<div style="display:none;">
		<div id="content_main_append">
			<div class="content alpha">
				<div class="entry clearfix">
					<h1><a class="post-title" rel="bookmark" href="/article/detail/{id}/1">{title}</a></h1>	
					<!-- <div class="post-meta">
						<span>{createTm}</span> | 
						作者: <span>{realname}</span>投稿 | 
						文章编号: <span>{id}</span> | 
						<a class="post-title" href="javascript:void(0)" onclick= "javascript:editArticle({id})" >修改</a>
						<a class="post-title" href="javascript:void(0)" onclick= "javascript:delArticle({id})" >删除</a>
						<a class="post-title" rel="bookmark" href="/article/detail/{id}/1">阅读全文​...</a>
					</div> -->
					<div class="post-meta">
					<span>{realname}</span>在
					<span>{createTm}</span>投稿 
					<div style="float:right;margin-right: 10px;">
						<a class="post-title" href="javascript:void(0)" onclick= "javascript:editArticle({id})" >修改</a>
						<a class="post-title" href="javascript:void(0)" onclick= "javascript:delArticle({id})" >删除</a>
						<a class="post-title" rel="bookmark" href="/article/detail/{id}/1">阅读全文​...</a>
					</div>
				</div>
				
					<div class="clear"></div>
					<div class="entry-content">
						<a rel="tag" href="/article/user/{uid}/1"><img class="thumb" src="{img}"></a>
							<span>{shortContext}</span>
							<p class="cloudreamHelperLink" codetype="postmulti" entryid="5655" style="display:none;"></p>
					</div>
					<!-- END post-bottom -->
				</div>
			</div>
		</div>
	</div>
	
	<!-- 修改评论弹出页面 -->
	<div id="edit_comment_div" class="add_main" style="display:none;" title="修改评论">
		<!-- <h3 class="add_div_title">修改评论<span class="add_div_title_cnl">X</span></h3> -->
		<input type="hidden" name="comment_id" id="comment_id_s" value=""/>
		<div id="edit_comment_div_box" class="add_box">
			<table class="formtable_noborder">
				<thead>
				</thead>
				<tbody>
					<tr>
						<th width="0%"></th>
						<td width="100%">
							<textarea class="textarea_count" name="comment_context" id="comment_context_s" style="width: 710px;height: 230px;" maxlength="1000" placeholder="最多可输入1000个字"></textarea>
							<span class="t_h"><i>0</i>/1000</span>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div class="add_btn">
				<!-- <input type="button" class="btn_no_public" th:onclick= "'javascript:cancle_comment()'" value=""/>
				<input type="button" class="btn_yes_public" th:onclick= "'javascript:updateComment()'" value=""/> -->
				<input type="button" class="btn_public btn_public_no_text" th:onclick= "'javascript:cancle_comment()'" />
				<input type="button" class="btn_public btn_public_yes_text" th:onclick= "'javascript:updateComment()'" />
			</div>
		</div>
	</div>
	
	
	<!-- 提示框页面 -->
	<div id="alert_message" class="add_main" style="display:none;height: 500px;">
		<!-- <h3 class="add_div_title">个人信息<span class="add_div_title_cnl">X</span></h3> -->
		<div id="alert_message_box" class="add_box">
			<div>
				<img id="alert_message_success_img" src="/img/yes_btn_blue.png" class="thumb" style="width: 150px;float:left;border-radius: 110px;display:none;"/>
				<img id="alert_message_error_img" src="/img/no_btn_red.png" class="thumb" style="width: 150px;float:left;border-radius: 110px;display:none;"/>
				<table class="formtable_noborder" style="width:50%;word-break: break-all;">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th width="100%" style="text-align: left;"><span id="alert_message_span"></span></th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="add_btn">
				<input type="button" style="margin-bottom: 10px;" class="btn_public btn_public_yes_text" id="alert_message_btn"/>
			</div>
			
		</div>
	</div>
	
	<!-- 确认框页面 -->
	<div id="confirm_message" class="add_main" style="display:none;height: 500px;">
		<!-- <h3 class="add_div_title">个人信息<span class="add_div_title_cnl">X</span></h3> -->
		<div id="confirm_message_box" class="add_box">
			<div>
				<img id="confirm_message_error_img" src="/img/no_btn_red.png" class="thumb" style="width: 150px;float:left;border-radius: 110px;"/>
				<table class="formtable_noborder" style="width:50%;word-break: break-all;">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th width="100%" style="text-align: left;"><span id="confirm_message_span"></span></th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="add_btn" style="margin-bottom: 10px;">
				<!-- <input type="button" style="" class="btn_no_public" th:onclick= "'javascript:cancle_confirm_message()'" value=""/>
				<input type="button" style="" class="btn_yes_public" id="confirm_message_btn" value=""/> -->
				<input type="button" style="" class="btn_public btn_public_no_text " th:onclick= "'javascript:$.cancle_confirm_message()'" />
				<input type="button" style="" class="btn_public btn_public_yes_text" id="confirm_message_btn" />
			</div>
			
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			//document.execCommand("BackgroundImageCache", false, true);
			drawBtn();
			selectRole();
			//position是设置元素相对于父元素的偏移，而offset方法是设置元素相对于整个浏览器的位置偏移
			//position相对left
			//当user_menu_drop和show_user_menu_drop同处于一个div下时
			//$("#user_menu_drop").css("left",$("#show_user_menu_drop").position().left);
			//offset绝对left
			//当user_menu_drop和show_user_menu_drop不在一个div下时
			
			//菜单事件
			$(".show_menu").mouseover(function(e){
				var thisId = $(this).attr('id');
				var childid = $(this).attr('childid');
				var flag = $("#"+childid).is(":hidden");
				if(flag){  
					var parentLeft = $("#"+thisId).offset().left;
					var parentWidth = $("#"+thisId).css('width');
					var childWidth = $("#"+childid).css("width");
					//计算parent的中间点，把child放在parent的中间下面
					var childLeft = parseFloat(parentLeft) + parseFloat(parentWidth)/2 - parseFloat(childWidth)/2;
					$("#"+childid).css("left",childLeft);
					if(parseFloat(childWidth) < parseFloat(parentWidth)){
						//$("#"+childid).css("width",parentWidth);
					}
					$("#"+childid).fadeIn();
					$(".menu_drop").each(function(ii,vv){
					    //ii 指第几个元素的序列号。
					    //vv 指遍历得到的元素。
						var id = $(this).attr('id');
					    if(id != childid){
					    	$("#"+id).fadeOut();
					    }
					});
	            }else{  
	                
	            }  
			}).mouseout(function(e){//不论鼠标指针离开指定元素还是该元素子元素，都会触发 mouseout 事件
				
			}).mouseleave(function(e){//只有在鼠标指针离开指定元素时，才会触发 mouseleave 事件
				/* setTimeout(function () { 
					if($(this).hasClass('menu_drop') == false){
						hidemenu();
					} 
				}, 1000); */
			});
			$(".menu_drop").mouseover(function(e){
				
			}).mouseout(function(e){//不论鼠标指针离开指定元素还是该元素子元素，都会触发 mouseout 事件
				
			}).mouseleave(function(e){//只有在鼠标指针离开指定元素时，才会触发 mouseleave 事件
				var thisId = $(this).attr('id');
				var flag = $("#"+thisId).is(":hidden");
				if(flag){  
					
	            }else{  
	            	$("#"+thisId).fadeOut();
	            }  
			});
			
			/* 弹出框的关闭按钮绑定 */
			/* $(".add_div_title_cnl").click(function(){
				hideAll();
			}); */
			
			//var $el = $("#show_user_menu_drop,#user_menu_drop");
			/* $el.click(function(e) {
				e.stopPropagation();
				//$(this).toggleClass('active');
			}); */
			//点击任何地方都关闭菜单条
			$(document).on('click', function(e) {
				hidemenu();
				/* var inEl = false;
				for(var i = 0; i < $el.length; i++){
					if($(e.target) == $el[i]){
						inEl = true;
					}
				}
				if (!inEl) {
					hidemenu();
				} */
			});
			
			
			//textarea字数统计
			$(".textarea_count").change(function(){
				textCount(this);
			}).keydown(function(){
				textCount(this);
			}).keyup(function(){
				textCount(this);
			}).click(function(){
				textCount(this);
			});
			
			//列表块点击事件
			//阻止事件冒泡
			//点击a不触发div的click事件
			$("a").click(function(){
			    event.stopPropagation();
			})
			$(".click_jump_div").mouseover(function(e){
				$(this).css("-webkit-box-shadow","0 0 30px rgba(0, 0, 0, 0.5)");
			}).mouseout(function(e){//不论鼠标指针离开指定元素还是该元素子元素，都会触发 mouseout 事件
				$(this).css("-webkit-box-shadow","0 0 20px rgba(0, 0, 0, 0.2)");
			}).mouseleave(function(e){//只有在鼠标指针离开指定元素时，才会触发 mouseleave 事件
				$(this).css("-webkit-box-shadow","0 0 20px rgba(0, 0, 0, 0.2)");
			});
			$(".click_jump_div").on('click', function(e) {
				location.href = $(this).attr("href");
			});
		});
		
		function textCount(obj){
			var num = $(obj).parent().find (".t_h i");
			num.html($(obj).val().length);
		}
		
		function drawBtn(){
			//批量给确定,取消按钮设置text
			//$(".btn_public_no_text").val("✂");
			$(".btn_public_no_text").val("否");
			$(".btn_public_no_text").attr("title","取消");
			//$(".btn_public_yes_text").val("🖍");
			$(".btn_public_yes_text").val("是");
			$(".btn_public_yes_text").attr("title","确定");
			
			//$(".btn_public_edit_text").val("✒");
			$(".btn_public_edit_text").val("是");
			$(".btn_public_edit_text").attr("title","确定");
			//$(".btn_public_save_text").val("✉");
			$(".btn_public_save_text").val("存");
			$(".btn_public_save_text").attr("title","保存");
			//✏  ✒  🖋  🖊  🖌  🖍
			
			//批量给顶部,底部,评论按钮设置text
			//🚀  🛫   🛬   🚁    🚢  ✍
			$(".btn_public_up_text").html("顶");
			$(".btn_public_up_text").attr("title","回到顶部");
			$(".btn_public_down_text").html("底");
			$(".btn_public_down_text").attr("title","回到底部");
			//$(".btn_public_comment_text").html("🖊");
			//$(".btn_public_comment_text").val("🖊");
			$(".btn_public_comment_text").html("评");
			$(".btn_public_comment_text").val("评");
			$(".btn_public_comment_text").attr("title","评论");
			//批量给分页按钮设置text  👈  👉
			$(".btn_public_page_s_text").html("首");
			$(".btn_public_page_s_text").attr("title","首页");
			$(".btn_public_page_e_text").html("末");
			$(".btn_public_page_e_text").attr("title","末页");
		}
	</script>
</div>
