<div th:fragment="pagination">
<!-- 
                   _ooOoo_
                  o8888888o
                  88" . "88
                  (| -_- |)
                  O\  =  /O
               ____/`---'\____
             .'  \\|     |//  `.
            /  \\|||  :  |||//  \
           /  _||||| -:- |||||-  \
           |   | \\\  -  /// |   |
           | \_|  ''\---/''  |   |
           \  .-\__  `-`  ___/-. /
         ___`. .'  /--.--\  `. . __
      ."" '<  `.___\_<|>_/___.'  >'"".
     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
     \  \ `-.   \_ __\ /__ _/   .-` /  /
======`-.____`-.___\_____/___.-`____.-'======
                   `=---='
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
				佛祖保佑       永无BUG
 -->
 	<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
 	
	<script type="text/javascript" src="/js/jquery.js" ></script>
	<script type="text/javascript" src="/js/jquery-common.js" ></script>
	
	
		
	<div class="header_wrap" id="top_banner">
		<div id="header" class="clearfix">
			<div id="logo">
				<h2>
					<a href="/" title="梦神十夜的小站" rel="home bookmark">梦神十夜的小站</a>
				</h2>
			</div>
			<!-- END logo -->
		</div>
		<!-- END header -->
		<div id="navigation" class="clearfix">
			<nav class="nav">
				<ul class="sf-menu">
					<li id="showmenu_li"><a th:text="欢饮您-+${myname}" href="javascript:void(0)" th:onclick= "'javascript:showmenu()'"></a></li>
					<li><a th:text="写文章" href="javascript:void(0)" th:onclick= "'javascript:show()'"></a></li>
					<li><a th:text="文章" th:href="@{/article/list/1}"></a></li>
					<li><a th:text="评论" th:href="@{/comment/list/1}"></a></li>
					<li><a th:text="我的文章" th:href="@{/article/user/{uid}/1(uid=${cuser.id})}"></a></li>
					<li><a th:text="我的评论" th:href="@{/comment/user/{uid}/1(uid=${cuser.id})}"></a></li>
					<li><a th:text="用户" th:href="@{/user/list/1}"></a></li>
					<li><a th:text="注销" th:href="@{/logout}"></a></li>
				</ul>
			</nav>
			<div id="menu_me" class="clearfix-menu">
				<nav class="nav">
					<ul class="sf-menu-2">
						<li><a style="color:#FFF;background: #424242;" th:text="欢饮您-+${myname}"></a></li>
						<li><a th:text="个人信息" href="javascript:void(0)" th:onclick= "'javascript:showme()'"></a></li>
						<li><a th:text="修改密码" href="javascript:void(0)" th:onclick= "'javascript:showPwd()'"></a></li>
						<li><a th:text="创建用户" href="javascript:void(0)" th:onclick= "'javascript:showAddUser()'"></a></li>
					</ul>
				</nav>	
			</div>
		</div>
		
		<!-- END navigation -->
	</div>
	
	<!-- 新增文章弹出页面 -->
	<div id="add_div" class="add_main" style="display:none;">
		<div id="add_div_box" class="add_box">
			<table class="formtable_noborder">
				<thead>
				</thead>
				<tbody>
					<tr>
						<th width="20%"><span th:text="标题"></span></th>
						<td width="80%"><input class="inputclass" style="width: 350px;" type="text" name="title" id="title_s"/></td>
					</tr>
					<tr>
						<th width="20%"><span th:text="简介"></span></th>
						<td width="80%"><textarea   name="shortContext" id="shortContext_s"></textarea></td>
					</tr>
					<tr>
						<th width="20%"><span th:text="内容"></span></th>
						<td width="80%"><textarea   name="context" id="context_s"></textarea></td>
					</tr>
				</tbody>
			</table>
			
			<div class="add_btn">
				<input type="button" class="btn_public" th:onclick= "'javascript:cancle()'" value="取消"/>
				<input type="button" class="btn_public" th:onclick= "'javascript:add('+${cuser.id}+')'" value="确定"/>
			</div>
			
		</div>
	</div>
	
	<!-- 个人用户信息弹出页面 -->
	<div id="me_div" class="add_main" style="display:none;height: 370px;">
		<div id="me_div_box" class="add_box">
			<div>
				<img th:src="${cuser.img}" class="thumb" style="width: 220px;float:left;"/>
				<table class="formtable_noborder" style="width:50%;font-size: 16px;">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th width="30%"><span th:text="用户ID"></span></th>
							<td width="70%"><span th:text="${cuser.id}"></span></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="登录号"></span></th>
							<td width="70%"><span th:text="${cuser.loginName}"></span></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="salt"></span></th>
							<td width="70%"><span th:text="${cuser.salt}"></span></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="用户名称"></span></th>
							<td width="70%"><input class="inputclass" type="text" name="realname" id="realname_s" th:value="${cuser.realname}"/></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="性别"></span></th>
							<td width="70%">
								<input class="" type="radio" name="sexCd_s" value="0" id="sexCd_s" th:text="女" th:checked="${cuser.sexCd == '0'}?checked"/>
								<input class="" type="radio" name="sexCd_s" value="1" id="sexCd_s" th:text="男" th:checked="${cuser.sexCd == '1'}?checked"/>
							</td>
						</tr>
						<tr>
							<th width="30%"><span th:text="e-mail"></span></th>
							<td width="70%"><input class="inputclass" type="text" name="email" id="email_s" th:value="${cuser.email}"/></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="联系方式"></span></th>
							<td width="70%"><input class="inputclass" type="text" name="phone" id="phone_s" th:value="${cuser.phone}"/></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="头像"></span></th>
							<td width="70%"><input class="inputclass" type="text" name="img" id="img_s" th:value="${cuser.img}"/></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="add_btn">
				<input type="button" class="btn_public" th:onclick= "'javascript:cancleme()'" value="关闭"/>
				<input type="button" class="btn_public" th:onclick= "'javascript:saveuser('+${cuser.id}+')'" value="确定"/>
			</div>
			
		</div>
	</div>
	
	<!-- 修改密码弹出页面 -->
	<div id="upd_pwd_div" class="add_main" style="display:none;height: 150px;">
		<div id="upd_pwd_div_box" class="add_box">
			<div>
				<table class="formtable_noborder" style="width:50%;font-size: 16px;">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th width="30%"><span th:text="原密码"></span></th>
							<td width="70%"><input class="inputclass" type="password" name="old_pwd" id="old_pwd" /></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="新密码"></span></th>
							<td width="70%"><input class="inputclass" type="password" name="new_pwd" id="new_pwd" /></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="确认新密码"></span></th>
							<td width="70%"><input class="inputclass" type="password" name="re_new_psd" id="re_new_psd" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="add_btn">
				<input type="button" class="btn_public" th:onclick= "'javascript:canclePwd()'" value="关闭"/>
				<input type="button" class="btn_public" th:onclick= "'javascript:updPwd('+${cuser.id}+')'" value="确定"/>
			</div>
			
		</div>
	</div>
	
	<!-- 新增用户弹出页面 -->
	<div id="add_user_div" class="add_main" style="display:none;height: 200px;">
		<div id="add_user_div_box" class="add_box">
			<div>
				<table class="formtable_noborder" style="width:50%;font-size: 16px;">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th width="30%"><span th:text="登录号"></span></th>
							<td width="70%"><input class="inputclass" type="text" name="new_loginName" id="new_loginName" /></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="姓名"></span></th>
							<td width="70%"><input class="inputclass" type="text" name="new_realname" id="new_realname" /></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="新密码"></span></th>
							<td width="70%"><input class="inputclass" type="password" name="new_password" id="new_password" /></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="确认新密码"></span></th>
							<td width="70%"><input class="inputclass" type="password" name="re_new_password" id="re_new_password" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="add_btn">
				<input type="button" class="btn_public" th:onclick= "'javascript:cancleUser()'" value="关闭"/>
				<input type="button" class="btn_public" th:onclick= "'javascript:addUser()'" value="确定"/>
			</div>
			
		</div>
	</div>
	
	<!-- 新增文章回调填充样式 -->
	<div style="display:none;">
		<div id="content_main_append">
			<div class="content alpha">
				<div class="entry clearfix">
					<h1><a class="post-title" rel="bookmark" href="/article/detail/{id}/1">{title}</a></h1>	
					<div class="post-meta">
						<span>{createTm}</span> | 
						作者: <span>{realname}</span>投稿 | 
						文章编号: <a class="post-title" rel="bookmark" href="/article/detail/{id}/1">{id}</a> | 
						<a class="post-title" rel="bookmark" href="/article/detail/{id}/1">阅读全文​...</a>
					</div>
				
					<div class="clear"></div>
					<div class="entry-content">
						<a rel="tag" href="/article/user/{uid}/1"><img class="thumb" src="{img}"></a>
							<span>{shortContext}</span>
							<p class="cloudreamHelperLink" codetype="postmulti" entryid="5655" style="display:none;"></p>
					</div>
					<!-- END post-bottom -->
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			var $el = $("#showmenu_li, #menu_me li");
			
			/* $("#showmenu_li").mouseover(function(e){
				showmenu();
			}).mouseout(function(e){
				
			});
			$("#menu_me").mouseover(function(e){
				showmenu();
			}).mouseout(function(e){
				hidemenu();
			}); */
			
			$el.click(function(e) {
				e.stopPropagation();
				//$(this).toggleClass('active');
			}); 
			$(document).on('click', function(e) {
				if (($(e.target) != $el)) {
					hidemenu();
				}
			});
		});
		/* 菜单 */
		function showmenu() {
			var litop = $('#showmenu_li').offset().top;
			var lileft = $('#showmenu_li').offset().left;
			var liright = $('#showmenu_li').offset().right;
			var width = $('#showmenu_li').width();
			//$("#menu_me").css("left", lileft+width);
			//$("#menu_me").css("top", litop);
			//$("#menu_me").css("width", "100%");
			$("#menu_me").fadeIn();
			$("#menu_me").delay(500).slideDown();
			//$("#menu_me").show();
		}
		function hidemenu() {
			$("#menu_me").fadeOut();
		}
		
		/* 更新密码 */
		function showPwd() {
			$("#upd_pwd_div").fadeIn();
			$("#upd_pwd_div_box").delay(500).slideDown();
		}
		function canclePwd() {
			$("#upd_pwd_div").fadeOut();
		}
		function updPwd(uid){
			if($("#old_pwd").val() == null || $("#old_pwd").val() == ""){
				alert("请输入原密码!");
				return;
			}
			if($("#new_pwd").val() == null || $("#new_pwd").val() == ""){
				alert("请输入新密码!");
				return;
			}
			if($("#re_new_psd").val() == null || $("#re_new_psd").val() == ""){
				alert("请确认新密码!");
				return;
			}
			if($("#re_new_psd").val() != $("#new_pwd").val()){
				alert("新密码不匹配!");
				return;
			}
			$.ajax({
				"url" : "/user/updatePwd",
				"type" : "POST",
				"dataType" : "json",
				"data" : {
					uid : uid,
					oldPwd : $("#old_pwd").val(),
					newPwd : $("#new_pwd").val()
				},
				"success" : function(msgjsonobj) {
					if (msgjsonobj.status == 100) {
						alert(msgjsonobj.status + "-" + msgjsonobj.desc
								+ " 修改成功!");
						canclePwd();
					} else {
						alert(msgjsonobj.status + "-" + msgjsonobj.desc);
					}

				},
				"error" : function() {
					alert("error");
				}
			});
		}
		
		/* 新增用户 */
		function showAddUser(){
			$("#add_user_div").fadeIn();
			$("#add_user_div_box").delay(500).slideDown();
		}
		function cancleUser(){
			$("#add_user_div").fadeOut();
		}
		function addUser(){
			if($("#new_loginName").val() == null || $("#new_loginName").val() == ""){
				alert("请输入登录号!");
				return;
			}
			if($("#new_realname").val() == null || $("#new_realname").val() == ""){
				alert("请输入姓名!");
				return;
			}
			if($("#new_password").val() == null || $("#new_password").val() == ""){
				alert("请输入密码!");
				return;
			}
			if($("#re_new_password").val() == null || $("#re_new_password").val() == ""){
				alert("请确认新密码!");
				return;
			}
			if($("#new_password").val() != $("#re_new_password").val()){
				alert("新密码不匹配!");
				return;
			}
			$.ajax({
				"url" : "/user/add",
				"type" : "POST",
				"dataType" : "json",
				"data" : {
					loginName : $("#new_loginName").val(),
					password : $("#new_password").val(),
					realname : $("#new_realname").val()
				},
				"success" : function(msgjsonobj) {
					if (msgjsonobj.status == 100) {
						alert(msgjsonobj.status + "-" + msgjsonobj.desc
								+ " 新增成功!");
						cancleUser();
					} else {
						alert(msgjsonobj.status + "-" + msgjsonobj.desc);
					}

				},
				"error" : function() {
					alert("error");
				}
			});
		}
		
		
		/* 个人信息 */
		function showme() {
			$("#me_div").fadeIn();
			$("#me_div_box").delay(500).slideDown();
		}
		function cancleme() {
			$("#me_div").fadeOut();
		}
		function saveuser(uid) {
			$.ajax({
				"url" : "/user/update",
				"type" : "POST",
				"dataType" : "json",
				"data" : {
					id : uid,
					realname : $("#realname_s").val(),
					email : $("#email_s").val(),
					phone : $("#phone_s").val(),
					img : $("#img_s").val(),
					sexCd : $("input[name='sexCd_s']:checked").val()
				},
				"success" : function(msgjsonobj) {
					if (msgjsonobj.status == 100) {
						alert(msgjsonobj.status + "-" + msgjsonobj.desc
								+ " 修改成功!");
						cancleme();
						//var check = confirm(msgjsonobj.status + "-" + msgjsonobj.desc);
						if (check) {

						}
					} else {
						alert(msgjsonobj.status + "-" + msgjsonobj.desc);
					}

				},
				"error" : function() {
					alert("error");
				}
			});
		}
		
		
		/* 写文章 */
		function show() {
			$("#add_div").fadeIn();
			$("#add_div_box").delay(500).slideDown();
		}
		function cancle() {
			$("#add_div").fadeOut();
		}
		function add() {
			$.ajax({
				"url" : "/article/add",
				"type" : "POST",
				"dataType" : "json",
				"data" : {
					title : $("#title_s").val(),
					shortContext : $("#shortContext_s").val(),
					context : $("#context_s").val()
				},
				"success" : function(msgjsonobj) {
					if (msgjsonobj.status == 100) {
						if ($("#add_content_replace_div").html() == undefined) {
							alert(msgjsonobj.status + "-" + msgjsonobj.desc
									+ " 发布成功!");
						} else {
							append(msgjsonobj.obj, msgjsonobj.desc);
						}
						cancle();
						//var check = confirm(msgjsonobj.status + "-" + msgjsonobj.desc);
						if (check) {

						}
					} else {
						alert(msgjsonobj.status + "-" + msgjsonobj.desc);
					}

				},
				"error" : function() {
					alert("error");
				}
			});
		}
		function append(obj, date) {
			var html = $("#content_main_append").html();

			var newHtml = html.replace(/{title}/g, obj.title).replace(
					/{realname}/g, obj.createUser.realname).replace(/{id}/g,
					obj.id).replace(/{shortContext}/g, obj.shortContext)
					.replace(/{img}/g, obj.createUser.img).replace(/{uid}/g,
							obj.createUser.id).replace(/{createTm}/g, date)
			//$("#content_main_apl").before(newHtml);
			$("#add_content_replace_div").after(newHtml);
		}
	</script>
</div>
