<div th:fragment="pagination">
<!-- 
                   _ooOoo_
                  o8888888o
                  88" . "88
                  (| -_- |)
                  O\  =  /O
               ____/`---'\____
             .'  \\|     |//  `.
            /  \\|||  :  |||//  \
           /  _||||| -:- |||||-  \
           |   | \\\  -  /// |   |
           | \_|  ''\---/''  |   |
           \  .-\__  `-`  ___/-. /
         ___`. .'  /--.--\  `. . __
      ."" '<  `.___\_<|>_/___.'  >'"".
     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
     \  \ `-.   \_ __\ /__ _/   .-` /  /
======`-.____`-.___\_____/___.-`____.-'======
                   `=---='
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
				佛祖保佑       永无BUG 
 -->
 	<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
 	<link rel="stylesheet" type="text/css" media="all" href="/css/mystyle.css"/>
 	
	<script type="text/javascript" src="/js/jquery.js" ></script>
	<script type="text/javascript" src="/js/jquery-common.js" ></script>
	<script type="text/javascript" src="/js/header.js" ></script>
	
	
		
	<div class="header_wrap" id="top_banner">
		<div id="header" class="clearfix">
			<div id="logo">
				<h2>
					<a href="/" title="梦神十夜的小站" rel="home bookmark">梦神十夜的小站</a>
				</h2>
			</div>
			<!-- END logo -->
		</div>
		<!-- END header -->
		<div id="navigation" class="clearfix">
			<nav class="nav">
				<ul class="sf-menu">
					<li id="showmenu_li"><a th:text="欢饮您-+${myname}" href="javascript:void(0)" th:onclick= "'javascript:showmenu()'"></a></li>
					<li><a th:text="文章" th:href="@{/article/list/1}"></a></li>
					<li><a th:text="评论" th:href="@{/comment/list/1}"></a></li>
					<li><a th:text="我的文章" th:href="@{/article/user/{uid}/1(uid=${cuser.id})}"></a></li>
					<li><a th:text="我的评论" th:href="@{/comment/user/{uid}/1(uid=${cuser.id})}"></a></li>
					<li><a th:text="用户" th:href="@{/user/list/1}"></a></li>
					<li><a th:text="注销" th:href="@{/logout}"></a></li>
				</ul>
			</nav>
			<div id="menu_me" class="clearfix-menu">
				<nav class="nav">
					<ul class="sf-menu-2" id="menu_ul">
						<li><a style="color:#FFF;background: #424242;" th:text="欢饮您-+${myname}"></a></li>
						<li><a th:text="写文章" href="javascript:void(0)" th:onclick= "'javascript:show()'"></a></li>
						<li><a th:text="个人信息" href="javascript:void(0)" th:onclick= "'javascript:showme()'"></a></li>
						<li><a th:text="修改密码" href="javascript:void(0)" th:onclick= "'javascript:showPwd()'"></a></li>
						<li><a th:text="创建用户" href="javascript:void(0)" th:onclick= "'javascript:showAddUser()'"></a></li>
					</ul>
				</nav>	
			</div>
		</div>
		
		<!-- END navigation -->
	</div>
	
	
	
	<!-- 以下为各个弹出页面 -->
	<!-- 新增文章弹出页面 -->
	<div id="add_div" class="add_main" style="display:none;width:800px;height:580px;top:80px;">
		<h3 class="add_div_title">写文章<span class="add_div_title_cnl">X</span></h3>
		<div id="add_div_box" class="add_box">
			<input type="hidden" name="article_id" id="article_id_s" value=""/>
			<table class="formtable_noborder" style="">
				<thead>
				</thead>
				<tbody>
					<tr>
						<th width="15%"><span th:text="标题"></span></th>
						<td width="85%">
							<input class="inputclass textarea_count" style="width: 575px;" type="text" name="title" id="title_s" maxlength="100" placeholder="最多可输入100个字"/>
							<span class="t_h"><i>0</i>/100</span>
						</td>
					</tr>
					<tr>
						<th width="15%"><span th:text="简介"></span></th>
						<td width="85%">
							<textarea class="textarea_count" name="shortContext" id="shortContext_s" style="width:575px;" maxlength="300" placeholder="最多可输入300个字"></textarea>
							<span class="t_h"><i>0</i>/300</span>
						</td>
					</tr>
					<tr>
						<th width="15%"><span th:text="内容"></span></th>
						<td width="85%">
							<textarea class="textarea_count" name="context" id="context_s" style="width:575px;height:230px;" maxlength="3000" placeholder="最多可输入3000个字"></textarea>
							<span class="t_h"><i>0</i>/3000</span>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div class="add_btn">
				<input type="button" class="btn_no_public" th:onclick= "'javascript:cancle()'" value=""/>
				<input type="button" class="btn_yes_public" th:onclick= "'javascript:add('+${cuser.id}+')'" value=""/>
			</div>
			
		</div>
	</div>
	
	<!-- 个人用户信息弹出页面 -->
	<div id="me_div" class="add_main" style="display:none;height: 480px;">
		<h3 class="add_div_title">个人信息<span class="add_div_title_cnl">X</span></h3>
		<div id="me_div_box" class="add_box">
			<div>
				<img th:src="${cuser.img}" class="thumb" style="width: 220px;float:left;"/>
				<table class="formtable_noborder" style="width:50%;">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th width="30%"><span th:text="用户ID"></span></th>
							<td width="70%"><span th:text="${cuser.id}"></span></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="登录号"></span></th>
							<td width="70%"><span th:text="${cuser.loginName}"></span></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="salt"></span></th>
							<td width="70%"><span th:text="${cuser.salt}"></span></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="用户名称"></span></th>
							<td width="70%"><input class="inputclass" style="width:200px;" type="text" name="realname" id="realname_s" th:value="${cuser.realname}" maxlength="10" placeholder="最多可输入10个字"/></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="性别"></span></th>
							<td width="70%">
								<input class="" type="radio" name="sexCd_s" value="0" id="sexCd_s" th:text="女" th:checked="${cuser.sexCd == '0'}?checked"/>
								<input class="" type="radio" name="sexCd_s" value="1" id="sexCd_s" th:text="男" th:checked="${cuser.sexCd == '1'}?checked"/>
							</td>
						</tr>
						<tr>
							<th width="30%"><span th:text="e-mail"></span></th>
							<td width="70%"><input class="inputclass" style="width:200px;" type="text" name="email" id="email_s" th:value="${cuser.email}" maxlength="50" placeholder="最多可输入50个字"/></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="联系方式"></span></th>
							<td width="70%"><input class="inputclass" style="width:200px;" type="text" name="phone" id="phone_s" th:value="${cuser.phone}" maxlength="20" placeholder="最多可输入20个字"/></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="头像"></span></th>
							<td width="70%">
								<textarea name="img" id="img_s" style="width:200px;height: 50px;" th:text="${cuser.img}" maxlength="300" placeholder="最多可输入300个字"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="add_btn">
				<input type="button" class="btn_no_public" th:onclick= "'javascript:cancleme()'" value=""/>
				<input type="button" class="btn_yes_public" th:onclick= "'javascript:saveuser('+${cuser.id}+')'" value=""/>
			</div>
			
		</div>
	</div>
	
	<!-- 修改密码弹出页面 -->
	<div id="upd_pwd_div" class="add_main" style="display:none;height: 220px;">
		<h3 class="add_div_title">修改密码<span class="add_div_title_cnl">X</span></h3>
		<div id="upd_pwd_div_box" class="add_box">
			<div>
				<table class="formtable_noborder" style="width:50%;">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th width="30%"><span th:text="原密码"></span></th>
							<td width="70%"><input class="inputclass" type="password" name="old_pwd" id="old_pwd" /></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="新密码"></span></th>
							<td width="70%"><input class="inputclass" type="password" name="new_pwd" id="new_pwd" /></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="确认新密码"></span></th>
							<td width="70%"><input class="inputclass" type="password" name="re_new_psd" id="re_new_psd" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="add_btn">
				<input type="button" class="btn_no_public" th:onclick= "'javascript:canclePwd()'" value=""/>
				<input type="button" class="btn_yes_public" th:onclick= "'javascript:updPwd('+${cuser.id}+')'" value=""/>
			</div>
			
		</div>
	</div>
	
	<!-- 新增用户弹出页面 -->
	<div id="add_user_div" class="add_main" style="display:none;height: 260px;">
		<h3 class="add_div_title">创建用户<span class="add_div_title_cnl">X</span></h3>
		<div id="add_user_div_box" class="add_box">
			<div>
				<table class="formtable_noborder" style="width:50%;">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th width="30%"><span th:text="登录号"></span></th>
							<td width="70%"><input class="inputclass" type="text" name="new_loginName" id="new_loginName" maxlength="20" placeholder="最多可输入20个字"/></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="姓名"></span></th>
							<td width="70%"><input class="inputclass" type="text" name="new_realname" id="new_realname" maxlength="10" placeholder="最多可输入10个字"/></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="密码"></span></th>
							<td width="70%"><input class="inputclass" type="password" name="new_password" id="new_password" /></td>
						</tr>
						<tr>
							<th width="30%"><span th:text="确认密码"></span></th>
							<td width="70%"><input class="inputclass" type="password" name="re_new_password" id="re_new_password" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="add_btn">
				<input type="button" class="btn_no_public" th:onclick= "'javascript:cancleUser()'" value=""/>
				<input type="button" class="btn_yes_public" th:onclick= "'javascript:addUser()'" value=""/>
			</div>
			
		</div>
	</div>
	
	<!-- 新增文章回调填充样式 -->
	<div style="display:none;">
		<div id="content_main_append">
			<div class="content alpha">
				<div class="entry clearfix">
					<h1><a class="post-title" rel="bookmark" href="/article/detail/{id}/1">{title}</a></h1>	
					<div class="post-meta">
						<span>{createTm}</span> | 
						作者: <span>{realname}</span>投稿 | 
						文章编号: <span>{id}</span> | 
						<a class="post-title" href="javascript:void(0)" onclick= "javascript:editArticle({id})" >修改</a>
						<a class="post-title" href="javascript:void(0)" onclick= "javascript:delArticle({id})" >删除</a>
						<a class="post-title" rel="bookmark" href="/article/detail/{id}/1">阅读全文​...</a>
					</div>
				
					<div class="clear"></div>
					<div class="entry-content">
						<a rel="tag" href="/article/user/{uid}/1"><img class="thumb" src="{img}"></a>
							<span>{shortContext}</span>
							<p class="cloudreamHelperLink" codetype="postmulti" entryid="5655" style="display:none;"></p>
					</div>
					<!-- END post-bottom -->
				</div>
			</div>
		</div>
	</div>
	
	<!-- 修改评论弹出页面 -->
	<div id="edit_comment_div" class="add_main" style="display:none;height:380px;width:600px;">
		<h3 class="add_div_title">修改评论<span class="add_div_title_cnl">X</span></h3>
		<input type="hidden" name="comment_id" id="comment_id_s" value=""/>
		<div id="edit_comment_div_box" class="add_box">
			<table class="formtable_noborder">
				<thead>
				</thead>
				<tbody>
					<tr>
						<th width="0%"></th>
						<td width="100%">
							<textarea class="textarea_count" name="comment_context" id="comment_context_s" style="width: 570px;height: 230px;" maxlength="1000" placeholder="最多可输入1000个字"></textarea>
							<span class="t_h"><i>0</i>/1000</span>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div class="add_btn">
				<input type="button" class="btn_no_public" th:onclick= "'javascript:cancle_comment()'" value=""/>
				<input type="button" class="btn_yes_public" th:onclick= "'javascript:updateComment()'" value=""/>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			document.execCommand("BackgroundImageCache", false, true);
			
			$("#showmenu_li").mouseover(function(e){
				var flag = $("#menu_me").is(":hidden");
				if(flag){  
					showmenu(); 
	            }else{  
	                
	            }  
				showmenu();
			}).mouseout(function(e){//不论鼠标指针离开指定元素还是该元素子元素，都会触发 mouseout 事件
				
			}).mouseleave(function(e){//只有在鼠标指针离开指定元素时，才会触发 mouseleave 事件
				
			});
			$("#menu_me").mouseover(function(e){
				
			}).mouseout(function(e){//不论鼠标指针离开指定元素还是该元素子元素，都会触发 mouseout 事件
				
			}).mouseleave(function(e){//只有在鼠标指针离开指定元素时，才会触发 mouseleave 事件
				var flag = $("#menu_me").is(":hidden");
				if(flag){  
					
	            }else{  
	            	hidemenu();
	            }  
			});
			
			$(".add_div_title_cnl").click(function(){
				hideAll();
			});
			
			var $el = $("#navigation, #add_div, #me_div, #upd_pwd_div, #add_user_div, #edit_comment_div");
			/* $el.click(function(e) {
				e.stopPropagation();
				//$(this).toggleClass('active');
			});  */
			/* $(document).on('click', function(e) {
				var inEl = false;
				for(var i = 0; i < $el.length; i++){
					if($(e.target) == $el[i]){
						inEl = true;
					}
				}
				if (!inEl) {
					hideAll();
				}
			}); */
			
			
			//计数
			$(".textarea_count").change(function(){
				textCount(this);
			}).keydown(function(){
				textCount(this);
			}).keyup(function(){
				textCount(this);
			}).click(function(){
				textCount(this);
			});
		});
		
		function textCount(obj){
			var num = $(obj).parent().find (".t_h i");
			num.html($(obj).val().length);
		}
	</script>
</div>
