<div th:fragment="pagination">
<!-- 
                   _ooOoo_
                  o8888888o
                  88" . "88
                  (| -_- |)
                  O\  =  /O
               ____/`---'\____
             .'  \\|     |//  `.
            /  \\|||  :  |||//  \
           /  _||||| -:- |||||-  \
           |   | \\\  -  /// |   |
           | \_|  ''\---/''  |   |
           \  .-\__  `-`  ___/-. /
         ___`. .'  /--.--\  `. . __
      ."" '<  `.___\_<|>_/___.'  >'"".
     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
     \  \ `-.   \_ __\ /__ _/   .-` /  /
======`-.____`-.___\_____/___.-`____.-'======
                   `=---='
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
				佛祖保佑       永无BUG
 -->
 	<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
 	<link rel="stylesheet" type="text/css" media="all" href="/css/mystyle.css"/>
 	<link rel="stylesheet" type="text/css" media="all" href="/css/jquery-ui.min.css"/>
 	
	<script type="text/javascript" src="/js/jquery.js" ></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js" ></script>
	<script type="text/javascript" src="/js/jquery-common.js" ></script>
	<script type="text/javascript" src="/js/header.js" ></script>
	
	<script src="https://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
		
	<div class="header_wrap" id="top_banner">
		<div id="header" class="clearfix">
			<div id="logo">
				<h2>
					<a href="/" title="梦神十夜的小站" rel="home bookmark">
					<span class="header-logo-span" style="">梦</span>
					<span class="header-logo-span" style="">神</span>
					<span class="header-logo-span" style="border-radius: 20px;">十</span>
					<span class="header-logo-span" style="">夜</span>
					<span class="header-logo-span" style="">的</span>
					<span class="header-logo-span" style="border-radius: 20px;">小</span>
					<span class="header-logo-span" style="">站</span>
					</a>
				</h2>
			</div>
			<span style="padding-left: 30px;font-size: 16px;">(￣︶￣)↗[GO!]</span>
			<!-- END logo -->
		</div>
		<!-- END header -->
		<div id="navigation" class="clearfix">
			<nav class="nav">
				<a href="javascript:void(0)" th:href="@{/logins}"><img class="title_img" th:src="${session.user_session!=null}?${session.user_session.img}:'/ico/logo-250.png'"/></a>
				<ul class="sf-menu">
					<li><a th:text="文章" th:href="@{/article/list/1}"></a></li>
					<li th:style="${session.user_session!=null}? 'display:none':''" ><a th:text="登录" th:href="@{/logins}"></a></li>
				</ul>
			</nav>
		</div>
		
		<!-- END navigation -->
	</div>
	
	<div class="header_wrap" id="top_banner">
		<div id="header" class="clearfix">
			<div style="float:left;width: 100px;">
				<wb:like appkey="5rf75H" type="simple"></wb:like>
			</div>
			<div style="float:left;width: 100px;">
				<wb:follow-button uid="2251868104" type="red_1" width="67" height="24" ></wb:follow-button>
			</div>
		</div>
	</div>
	
	
	<script type="text/javascript">
		$(document).ready(function() {
			//document.execCommand("BackgroundImageCache", false, true);
			drawBtn();
			
			//列表块点击事件
			//阻止事件冒泡
			//点击a不触发div的click事件
			$("a").click(function(){
			    event.stopPropagation();
			})
			$(".click_jump_div").mouseover(function(e){
				$(this).css("-webkit-box-shadow","0 0 30px rgba(0, 0, 0, 0.5)");
			}).mouseout(function(e){//不论鼠标指针离开指定元素还是该元素子元素，都会触发 mouseout 事件
				$(this).css("-webkit-box-shadow","0 0 20px rgba(0, 0, 0, 0.2)");
			}).mouseleave(function(e){//只有在鼠标指针离开指定元素时，才会触发 mouseleave 事件
				$(this).css("-webkit-box-shadow","0 0 20px rgba(0, 0, 0, 0.2)");
			});
			$(".click_jump_div").on('click', function(e) {
				location.href = $(this).attr("href");
			});
		});
		
		function drawBtn(){
			//批量给确定,取消按钮设置text
			//$(".btn_public_no_text").val("✂");
			$(".btn_public_no_text").val("否");
			$(".btn_public_no_text").attr("title","取消");
			//$(".btn_public_yes_text").val("🖍");
			$(".btn_public_yes_text").val("是");
			$(".btn_public_yes_text").attr("title","确定");
			
			//$(".btn_public_edit_text").val("✒");
			$(".btn_public_edit_text").val("是");
			$(".btn_public_edit_text").attr("title","确定");
			//$(".btn_public_save_text").val("✉");
			$(".btn_public_save_text").val("存");
			$(".btn_public_save_text").attr("title","保存");
			//✏  ✒  🖋  🖊  🖌  🖍
			
			//批量给顶部,底部,评论按钮设置text
			//🚀  🛫   🛬   🚁    🚢  ✍
			$(".btn_public_up_text").html("顶");
			$(".btn_public_up_text").attr("title","回到顶部");
			$(".btn_public_down_text").html("底");
			$(".btn_public_down_text").attr("title","回到底部");
			//$(".btn_public_comment_text").html("🖊");
			//$(".btn_public_comment_text").val("🖊");
			$(".btn_public_comment_text").html("评");
			$(".btn_public_comment_text").val("评");
			$(".btn_public_comment_text").attr("title","评论");
			//批量给分页按钮设置text  👈  👉
			$(".btn_public_page_s_text").html("首");
			$(".btn_public_page_s_text").attr("title","首页");
			$(".btn_public_page_e_text").html("末");
			$(".btn_public_page_e_text").attr("title","末页");
		}
	</script>
</div>
