<div th:fragment="ar-list-pagination">
	<div class="page_div">
		<!-- 循环分页start -->
		<span th:each="i : ${#numbers.sequence(1,pages)}" class="page_span">
			<a th:class="${cpage == i}? 'btn_public_cur':'btn_public'"
			th:href="@{/article/list/{page}(page=${i})}" th:text="${i}" />
		</span>
		<!-- 循环分页end -->
	</div>
</div>
<div th:fragment="ar-user-pagination">
	<div class="page_div">
		<!-- 循环分页start -->
		<span th:each="i : ${#numbers.sequence(1,pages)}" class="page_span">
			<a th:class="${cpage == i}? 'btn_public_cur':'btn_public'"
			th:href="@{/article/user/{uid}/{page}(uid=${quid},page=${i})}" th:text="${i}" />
		</span>
		<!-- 循环分页end -->
	</div>
</div>
<div th:fragment="ar-comment-pagination">
	<div class="page_div">
		<!-- 循环分页start -->
		<span th:each="i : ${#numbers.sequence(1,pages)}" class="page_span">
			<a th:class="${cpage == i}? 'btn_public_cur':'btn_public'"
			th:href="@{/article/detail/{id}/{page}?jump=true(id=${qid},page=${i})}" th:text="${i}" />
		</span>
		<!-- 循环分页end -->
	</div>
</div>
<div th:fragment="comment-list-pagination">
	<div class="page_div">
		<!-- 循环分页start -->
		<span th:each="i : ${#numbers.sequence(1,pages)}" class="page_span">
			<a th:class="${cpage == i}? 'btn_public_cur':'btn_public'"
			th:href="@{/comment/list/{page}(page=${i})}" th:text="${i}" />
		</span>
		<!-- 循环分页end -->
	</div>
</div>
<div th:fragment="comment-user-pagination">
	<div class="page_div">
		<!-- 循环分页start -->
		<span th:each="i : ${#numbers.sequence(1,pages)}" class="page_span">
			<a th:class="${cpage == i}? 'btn_public_cur':'btn_public'"
			th:href="@{/comment/user/{uid}/{page}(uid=${quid},page=${i})}" th:text="${i}" />
		</span>
		<!-- 循环分页end -->
	</div>
</div>
<div th:fragment="user-list-pagination">
	<div class="page_div">
		<!-- 循环分页start -->
		<span th:each="i : ${#numbers.sequence(1,pages)}" class="page_span">
			<a th:class="${cpage == i}? 'btn_public_cur':'btn_public'"
			th:href="@{/user/list/{page}(page=${i})}" th:text="${i}" />
		</span>
		<!-- 循环分页end -->
	</div>
</div>