<!-- common分页 -->
<div th:fragment="common-pagination">
	<div class="page_div">
		<!-- 循环分页start -->
		<span class="page_span">
			<a class="btn_public" th:href="@{{page}(page=1)}"   th:text="首" />
		</span>
		<span class="page_span" th:style="${cpage<=4}? 'display:none':''" >
			<a class="btn_public" th:href="@{{page}(page=${cpage-4})}"   th:text="..." />
		</span>
		<span th:each="i : ${#numbers.sequence(cpage-3,cpage+3)}" class="page_span" 
			th:style="${pages < i || i < 1}? 'display:none':''" >
			<a th:class="${cpage == i}? 'btn_public_cur':'btn_public'"
			th:href="@{{page}(page=${i})}" 
			th:text="${i}" />
		</span>
		<span class="page_span" th:style="${cpage+4>pages}? 'display:none':''" >
			<a class="btn_public" th:href="@{{page}(page=${cpage+4})}"   th:text="..." />
		</span>
		<span class="page_span">
			<a th:class="btn_public" th:href="@{{page}(page=${pages})}" th:text="末" />
		</span>
		<!-- 循环分页end -->
	</div>
</div>
