<!-- common分页 -->
<div th:fragment="common-pagination">
	<div class="page_div">
		<!-- 循环分页start -->
		<!-- 当前页码的前面第三页不是第一页，则增加显示第一页 -->
		<span class="page_span" th:style="${cpage-3<=1}? 'display:none':''" >
			<a class="btn_public" th:href="@{{page}(page=1)}" th:text="1" />
		</span>
		<!-- 当前页码不是第一页，则增加显示第一页 -->
		<!-- <span class="page_span" th:style="${cpage==1}? 'display:none':''" >
			<a class="btn_public btn_public_page_s_text" th:href="@{{page}(page=1)}" ></a>
		</span> -->
		<!-- 当前页码的前面第四页不是第一页，则显示。。。 -->
		<span class="page_span" th:style="${cpage-4<=1}? 'display:none':''" >
			<a class="btn_public" th:href="@{{page}(page=${cpage-4})}" th:text="···" />
		</span>
		<!-- 当前页的前3和后3 -->
		<span th:each="i : ${#numbers.sequence(cpage-3,cpage+3)}" class="page_span" 
			th:style="${pages < i || i < 1}? 'display:none':''" >
			<a th:class="${cpage == i}? 'btn_public_cur':'btn_public'"
			th:href="@{{page}(page=${i})}" 
			th:text="${i}" />
		</span>
		<!-- 当前页码的后面第四页不是最后一页，则显示。。。 -->
		<span class="page_span" th:style="${cpage+4>=pages}? 'display:none':''" >
			<a class="btn_public" th:href="@{{page}(page=${cpage+4})}" th:text="···" />
		</span>
		<!-- 当前页码不是最后一页，则增加显示最后一页-->
		<!-- <span class="page_span" class="page_span" th:style="${cpage==pages}? 'display:none':''" >
			<a class="btn_public btn_public_page_e_text" th:href="@{{page}(page=${pages})}" ></a>
		</span> -->
		<!-- 当前页码的后面第三页不是最后一页，则增加显示最后一页 -->
		<span class="page_span" th:style="${cpage+3>=pages}? 'display:none':''" >
			<a class="btn_public" th:href="@{{page}(page=${pages})}" th:text="${pages}" />
		</span>
		<!-- 循环分页end -->
	</div>
</div>

<div th:fragment="sys-manager-menu">
	<div class="header_wrap_2">
		<!-- END header -->
		<div class="clearfix">
			<nav class="nav">
				<ul class="sf-menu" style="float:left;margin-bottom: 0px;margin-top:0px;">
					<li><a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/user/list')}? 'background:#2c9678;color:white;':''" th:text="用户管理" th:href="@{/user/list/1}"></a></li>
					<li class="mobile_hide_flag" th:style="${session.user_session.role.id != 100001}? 'display:none':''" >
						<a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/system/menu')}? 'background:#2c9678;color:white;':''" 
							th:text="菜单管理" th:href="@{/system/menu/1}">
						</a>
					</li>
					<li class="mobile_hide_flag" th:style="${session.user_session.role.id != 100001}? 'display:none':''">
						<a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/system/role')}? 'background:#2c9678;color:white;':''" 
							th:text="角色管理" th:href="@{/system/role/1}">
						</a>
					</li>
					<li th:style="${session.user_session.role.id != 100001}? 'display:none':''">
						<a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/user/alllog')}? 'background:#2c9678;color:white;':''" 
							th:text="日志管理" th:href="@{/user/alllog/1}">
						</a>
					</li>
					<li>
						<a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/user/browser')}? 'background:#2c9678;color:white;':''" 
							th:text="浏览器信息" th:href="@{/user/browser}">
						</a>
					</li>
					<li><a th:text="我的信息" href="javascript:void(0)" th:onclick= "'javascript:showme()'"></a></li>
					<li><a th:text="修改密码" href="javascript:void(0)" th:onclick= "'javascript:showPwd()'"></a></li>
					<li class="mobile_hide_flag" th:style="${session.user_session.role.id != 100001}? 'display:none':''" ><a th:text="创建用户" href="javascript:void(0)" th:onclick= "'javascript:showAddUser()'"></a></li>
					<li th:style="${session.user_session.role.id != 100001}? 'display:none':''">
						<a th:text="Druid" th:href="@{/druid}" target="_blank" />
					</li>
					<li th:style="${session.user_session.role.id != 100001}? 'display:none':''">
						<a th:text="Eureka" th:href="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':8000'}" target="_blank"/>
					</li>
				</ul>
			</nav>
		</div>
		<!-- END navigation -->
	</div>
</div>

<div th:fragment="test-menu">
	<div class="header_wrap_2">
		<!-- END header -->
		<div class="clearfix">
			<nav class="nav">
				<ul class="sf-menu" style="float:left;margin-bottom: 0px;margin-top:0px;">
					<li><a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/chart/line')}? 'background:#2c9678;color:white;':''" th:text="折线图" th:href="@{/chart/line}"></a></li>
					<li><a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/chart/bar')}? 'background:#2c9678;color:white;':''" th:text="柱状图" th:href="@{/chart/bar}"></a></li>
					<li><a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/chart/pie')}? 'background:#2c9678;color:white;':''" th:text="饼图" th:href="@{/chart/pie}"></a></li>
					<li><a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/chart/radar')}? 'background:#2c9678;color:white;':''" th:text="雷达图" th:href="@{/chart/radar}"></a></li>
					<li><a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/chart/graph')}? 'background:#2c9678;color:white;':''" th:text="关系图" th:href="@{/chart/graph}"></a></li>
					<li><a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/chart/gauge')}? 'background:#2c9678;color:white;':''" th:text="仪表盘图" th:href="@{/chart/gauge}"></a></li>
					<li><a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/chart/funnel')}? 'background:#2c9678;color:white;':''" th:text="漏斗图" th:href="@{/chart/funnel}"></a></li>
					<li><a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/file/upload')}? 'background:#2c9678;color:white;':''" th:text="上传文件" th:href="@{/file/upload}"></a></li>
					<li><a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/file/water')}? 'background:#2c9678;color:white;':''" th:text="添加水印" th:href="@{/file/water}"></a></li>
					<li><a th:style="${#strings.containsIgnoreCase(#httpServletRequest.getRequestURL(),'/test/divadd')}? 'background:#2c9678;color:white;':''" th:text="DIV动态增删移动" th:href="@{/test/divadd}"></a></li>
				</ul>
			</nav>
		</div>
		<!-- END navigation -->
	</div>
</div>
