body {
	min-width: 970px;
}

/* daimeng */

.formtable_noborder {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 12px;
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
}

table {
    max-width: 100%;
    background-color: transparent;
}
/* daimeng */
.formtable_noborder tr th {
    height: 30px;
    text-align: right;
    /* font-weight: lighter;
    color: #C0C0C0; */
    font-weight: bold;
    color: #aaa;
}

.formtable_noborder th{
    vertical-align: middle;
    padding-right: 10px;
}
.formtable_noborder tr td {
    padding: 4px 0;
}

.formtable_noborder tr td {
    height: 30px;
    text-align: left;
}

.inputclass {
    font-family: Arial;
    font-size: 12px;
}

.inputclass {
    width: 180px;
    height: 19px;
    line-height: 19px;
    border: solid 1px #DBDFE6;
    color: #333;
    vertical-align: middle;
}

input {
	height:19px;
	line-height:19px;
	color:#333;
	vertical-align:middle;
}
select {
	width:192px !important;
	height:32px !important;
	line-height:23px;
	border:solid 1px #DBDFE6;
	color:#333;
	vertical-align:middle;
}
.inputclass {
	width:180px;
	height:20px;
	line-height:20px;
	border:solid 1px #DBDFE6;
	color:#333;
	vertical-align:middle;
}

.inputform {
	width:100% !important;
	height:100% !important;
	border:0px;
	background-color: transparent;
}
.inputdatepicker {
	width:180px;
	height:19px;
	line-height:19px;
	border:solid 1px #DBDFE6;
	color:#333;
	vertical-align:middle;
	background-image: url(../images/color_common/datepicker.gif);
	background-repeat: no-repeat;
	background-position: right center;
	cursor:pointer;	
}
.inputselect {
	width:180px;
	height:19px;
	line-height:19px;
	border:solid 1px #DBDFE6;
	color:#333;
	vertical-align:middle;
	background-image: url(../images/color_common/search.gif);
	background-repeat: no-repeat;
	background-position: right center;
	cursor:pointer;	
}
.inputreport {
	width:180px;
	width:180px;
	height:19px;
	line-height:19px;
	border:0px;
	text-align:center;
	border-bottom:solid 1px #DBDFE6;
	color:#333;
}
.inputtable {
	width:180px;
	width:180px;
	height:19px;
	line-height:19px;
	border:0px;
	color:#333;
	background-color:transparent;
}
.textarea_report {
	border:0px;
	margin-top:3px;
	margin-bottom:3px;
}

textarea {
    border: solid 1px #DBDFE6;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
}

input,textarea,select,.inputclass {
	font-family:Arial;
	font-size:14px;
	border-radius: 5px;
	padding: 5px;
}




/* daimeng */
.add_div_title {
	background: #5d3d21;
    color: #fff;
    margin-top: 0px;
}
.clearfix-menu:before, .clearfix-menu:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

.clearfix-menu:after {
	clear: both
}

.clearfix-menu {
	border-right: 4px solid #5d3d21;
	zoom: 1;
	display : none;
	/* position: fixed; */
	position: absolute;
	background: #fff;
	z-index: 999;
	height : 40px;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.sf-menu-2, .sf-menu-2 * {
	margin: 0;
	padding: 0;
	list-style: none
}

.sf-menu-2 {
	line-height: 1.0
}

.sf-menu-2 ul {
	position: absolute;
	top: -999em;
	width: 10em
}

.sf-menu-2 ul li {
	width: 100%
}

.sf-menu-2 li:hover {
	visibility: inherit
}

.sf-menu-2 li {
	float: left;
	position: relative;
	/* width : 100%; */
}

.sf-menu-2 a {
	display: block;
	position: relative
}

.sf-menu-2 li:hover ul, .sf-menu-2 li.sfHover ul {
	left: 0;
	top: 40px;
	z-index: 99;
	background: #5d3d21;
}

ul.sf-menu-2 li:hover li ul, ul.sf-menu-2 li.sfHover li ul {
	top: -999em
}

ul.sf-menu-2 li li:hover ul, ul.sf-menu-2 li li.sfHover ul {
	left: 10em;
	top: 0
}

ul.sf-menu-2 li li:hover li ul, ul.sf-menu-2 li li.sfHover li ul {
	top: -999em
}

ul.sf-menu-2 li li li:hover ul, ul.sf-menu-2 li li li.sfHover ul {
	left: 10em;
	top: 0
}

.sf-menu-2 {
	float: left;
	margin-bottom: 1em
}

.sf-menu-2 a {
	/* color: #FFF; */
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-transform: uppercase
}

.sf-menu-2 a:focus, .sf-menu-2 a:hover {
	/* color: #FEB425;
    background: #337ab7#71BACF; */
	color: #FFF;
    background: #5d3d21;
    
}
/* daimeng */










.container {
	margin-left: auto;
	margin-right: auto;
	width: 970px;
	word-break: break-all;
}

.sidebar, .content {
	display: inline;
	float: left;
	position: relative;
	margin-left: 15px;
	margin-right: 15px
}

.alpha {
	margin-left: 0
}

.omega {
	margin-right: 0
}

.container .sidebar {
	width: 300px
}

.container .content {
	/* width: 650px */
	width: 970px
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

.clearfix:before, .clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

.clearfix:after {
	clear: both
}

.clearfix {
	zoom: 1
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
	var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
	caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: Microsoft Yahei;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline
}

:focus {
	outline: 0
}

body {
	background: #F0ECE0;
	line-height: 1
}

ol, ul {
	list-style: none
}

table {
	border-collapse: separate;
	border-spacing: 0
}

caption, th, td {
	font-weight: normal;
	text-align: left
}

blockquote:before, blockquote:after, q:before, q:after {
	content: ""
}

blockquote, q {
	quotes: "" ""
}

a img {
	border: 0
}

header, hgroup, footer, section, article, aside {
	display: block
}

body {
	font-size: 14px;
	line-height: 28px;
	color: #000;
	font-family: "Lucida Sans Unicode", "Microsoft YaHei", "Lucida Grande",
		sans-serif, arial, serif
}

a {
	text-decoration: none;
	color: #000;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out
}

a:hover {
	text-decoration: none;
	color: #5d3d21
}

a img {
	webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
}

a:hover img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	-
}

strong {
	font-weight: 700
}

em {
	font-style: italic
}

.clear {
	clear: both
}

.clearfix:after {
	display: block;
	visibility: hidden;
	content: ".";
	clear: both;
	text-indent: -9999px;
	height: 0
}

.remove-margin {
	margin-right: 0 !important
}

#main {
	margin-top: 20px;
	padding-top: 0px !important
}

#main img {
	max-width: 95%;
	height: auto;
	padding: 5px;
	width: 150px;/* daimeng */
	border-radius: 80px;
}

h1, h2, h3, h4 {
	color: #535353;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: normal
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
	line-height: 1.2em
}

h2 {
	font-size: 18px
}

h3 {
	font-size: 16px
}

h4 {
	font-size: 14px
}

h2, h3, h4 {
	margin-top: 30px;
	margin-bottom: 20px
}

h1 a, h2 a, h3 a, h4 a {
	color: #000
}

h2 a:hover, h3 a:hover, h4 a:hover {
	color: #64A7BF;
	text-decoration: none
}

.sticky {
	
}

.gallery-caption {
	
}

.bypostauthor {
	
}

.aligncenter {
	display: block;
	margin: 0 auto
}

.alignright {
	float: right;
	margin: 10px 0 10px 10px
}

.alignleft {
	float: left;
	margin: 10px 10px 10px 0
}

.floatleft {
	float: left
}

.floatright {
	float: right
}

.textcenter {
	text-align: center
}

.textright {
	text-align: right
}

.textleft {
	text-align: left
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0
}

.wp-smiley {
	margin: 0 !important;
	max-height: 1em
}

blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left
}

blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right
}

.divTags li {
	display: inline;
	color: #444;
	margin-right: 6px;
	padding: 5px 5px;
	background: #f5f5f5;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out
}

.divTags li:hover {
	background: #5d3d21;
	text-decoration: none
}

.divTags a:hover {
	background: #5d3d21;
	color: #000;
	text-decoration: none
}

.divArchives li, .divPrevious li {
	list-style-type: none
}

.divArchives a, .divPrevious a {
	color: #444;
	margin-bottom: 5px;
	padding: 0px 7px;
	background: #f5f5f5;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out
}

.divPrevious a {
	display: block;
}

.divArchives a:hover, .divPrevious a:hover {
	background: #5d3d21;
	color: #FFF;
	text-decoration: none
}

.divCalendar {
	width: 100%
}

p.y {
	text-align: center;
	color: #333;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 15px
}

p.y a {
	padding: 0px 8px
}

p.w, p.d, p.yd, p.nd, p.cd {
	float: left;
	border: 1px solid #FFF;
	width: 33px;
	height: 33px;
	margin: 0 0 -1px -1px;
	padding: 3px 0 0 0;
	text-align: center;
	vertical-align: middle
}

p.d {
	background: #f5f5f5;
	text-align: center
}

p.d:hover {
	background: #5d3d21
}

p.yd {
	background: #5d3d21;
	color: #FFFFFF
}

p.yd a {
	color: #FFFFFF
}

p.cd {
	font-weight: bold
}

p.w {
	padding: 3px 0 2px 0;
	height: 1.7em;
	text-transform: uppercase
}

#header {
	margin-top: 30px;
	margin-bottom: 10px;
	position: relative;
	z-index: 99
}

#header_login {
	margin-top: 30px;
	margin-bottom: 10px;
	position: relative;
	z-index: 99
}

#logo {
	float: left;
	color: #000;
	text-shadow: 1px 1px 1px #FFF
}

/* daimeng */
#logo_login {
	/* float: left; */
	color: #000;
	text-shadow: 1px 1px 1px #FFF
}

#logo h2, #logo h1,#logo_login h2, #logo_login h1 {
	color: #000;
	margin: 0 !important;
	line-height: 1em !important;
	font-size: 36px;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px
}

#logo h2 a, #logo h1 a,#logo_login h2 a, #logo_login h1 a {
	color: #5d3d21;
	text-decoration: none
}

#logo h2 a:hover, #logo h1 a:hover,#logo_login h2 a:hover, #logo_login h1 a:hover {
	color: #5d3d21
}

#top-ad {
	position: absolute;
	top: 20px;
	right: 0px
}

#navigation {
	background: #FFF;
	height: 40px;
	line-height: 40px
}

#navigation a {
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out
}

.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none
}

.sf-menu {
	line-height: 1.0
}

.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 10em
}

.sf-menu ul li {
	width: 100%
}

.sf-menu li:hover {
	visibility: inherit
}

.sf-menu li {
	float: left;
	position: relative
}

.sf-menu a {
	display: block;
	position: relative
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left: 0;
	top: 40px;
	z-index: 99;
	background: #5d3d21
}

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top: -999em
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left: 10em;
	top: 0
}

ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top: -999em
}

ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left: 10em;
	top: 0
}

.sf-menu {
	float: left;
	margin-bottom: 1em
}

.sf-menu a {
	color: #000;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-transform: uppercase
}

.sf-menu a:focus, .sf-menu a:hover {
	color: #FFF;
	background: #5d3d21
}

li.sfHover {
	color: #333
}

.sf-menu li li {
	text-transform: none
}

.sf-menu li li li {
	background: #5d3d21
}

.sf-menu ul a {
	color: #5d3d21;
	padding: 0 1.2em;
	height: 35px;
	line-height: 35px
}

.sf-menu a.sf-with-ul {
	padding-right: 2.25em;
	min-width: 1px
}

.sf-sub-indicator {
	position: absolute;
	display: block;
	right: .75em;
	width: 9px;
	height: 5px;
	text-indent: -999em;
	overflow: hidden;
	background: url('images/arrows-down.png')
}

a>.sf-sub-indicator {
	top: 18px;
	background-position: 0 -100px
}

a:focus>.sf-sub-indicator, a:hover>.sf-sub-indicator, a:active>.sf-sub-indicator,
	li:hover>a>.sf-sub-indicator, li.sfHover>a>.sf-sub-indicator {
	background-position: -9px 0px
}

.sf-menu ul .sf-sub-indicator {
	top: 1px;
	width: 5px;
	height: 9px;
	background: url('images/arrows-side.png')
}

.sf-menu ul a>.sf-sub-indicator {
	background-position: 0 0
}

.sf-menu ul a:focus>.sf-sub-indicator, .sf-menu ul a:hover>.sf-sub-indicator,
	.sf-menu ul a:active>.sf-sub-indicator, .sf-menu ul li:hover>a>.sf-sub-indicator,
	.sf-menu ul li.sfHover>a>.sf-sub-indicator {
	background-position: -5px 0
}

#featured {
	padding: 20px;
	padding-right: 280px;
	position: relative;
	background: #FFF;
	height: 260px;
	margin-top: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: relative
}

#featured ul.ui-tabs-nav {
	position: absolute;
	top: 20px;
	right: 20px;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 270px
}

#featured ul.ui-tabs-nav li {
	color: #666
}

#featured ul.ui-tabs-nav li img {
	float: left;
	margin-right: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
}

#featured ul.ui-tabs-nav li p {
	font-size: 16px;
	margin: 0px;
	padding: 0px
}

#featured li.ui-tabs-nav-item a {
	display: block;
	height: 59px;
	color: #535353;
	margin-bottom: 4px;
	padding-bottom: 2px;
	border-bottom: 1px dashed #EEE
}

#featured li.ui-tabs-nav-item a.remove-border {
	border: none !important
}

#featured li.ui-tabs-nav-item a:hover, #featured li.ui-tabs-selected {
	color: #7da1bc;
	text-decoration: none
}

#featured li.ui-tabs-nav-item a:hover img, #featured li.ui-tabs-selected img
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
		!important;
	filter: alpha(opacity = 100) !important;
	-moz-opacity: 1 !important;
	-khtml-opacity: 1 !important;
	opacity: 1 !important
}

#featured li.ui-tabs-selected p {
	color: #7da1bc !important
}

#featured .ui-tabs-panel {
	width: 635px;
	height: 260px;
	position: relative
}

#featured .ui-tabs-panel .info {
	position: absolute;
	bottom: 20px;
	left: 0;
	background: #FFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	color: #000;
	padding: 10px 20px
}

#featured .info a {
	text-decoration: none;
	color: #535353
}

#featured .info a:hover {
	text-decoration: none;
	color: #000
}

#featured .ui-tabs-hide {
	display: none
}

.entry {
	margin-bottom: 20px;
	padding: 20px;
	background: #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: relative
}

.entry-content p {
	margin: 0 0 1em
}

.entry img:hover {
	background-color: #BCDEE8
}

.entry-content ul, .entry-content ol, .entry-content blockquote,
	.entry-content code {
	border-left: #BCDEE8 2px solid;
	padding-left: 5px;
	margin: 10px 20px;
	padding: 10px;
	background-color: #f9f9f9
}

.entry-content ul:hover, .entry-content ol:hover, .entry-content blockquote:hover,
	.entry-content code:hover {
	border-left: #5d3d21 2px solid;
	background-color: #F5FFF7
}

.entry-content ul {
	list-style: inside
}

.entry-content ol {
	list-style: decimal-leading-zero inside
}

.entry-content code, .entry blockquote {
	display: block;
	text-indent: 0px
}

.entry-content a {
	border-bottom: 1px dashed #CCC
}

.entry-content a:hover {
	border-bottom: 1px dashed #5d3d21;
	color: #5d3d21;
	text-decoration: none
}

h2.entry-title {
	margin-top: 0px;
	margin-bottom: 5px
}

.post-thumbnail {
	margin-bottom: 10px
}

.post-meta {
	font-size: 14px;
	color: #000;
	padding: 7px 0px;
	margin-bottom: 20px;
	margin-top: 10px;
	border-top: 1px dashed #c2c2c2;
	border-bottom: 1px dashed #c2c2c2
}

.post-meta span {
	margin-right: 10px
}

.meta-date {
	background: url(images/date.png) left no-repeat
}

.meta-category {
	background: url(images/category.png) left no-repeat
}

.meta-author {
	background: url(images/author.png) left no-repeat
}

.meta-permalink {
	background: url(images/permalink.png) left no-repeat
}

.meta-view {
	background: url(images/view.png) left no-repeat
}

.meta-comment {
	background: url(images/comment.png) left no-repeat
}

.post-meta-single {
	margin-bottom: 20px
}

.post-tags-pig {
	margin-right: 10px;
	margin-top: 30px;
	font-size: 14px
}

.post-tags-pig a {
	float: left;
	display: block;
	color: #717171;
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 3px 7px;
	line-height: 1.3em;
	background: #e8e8e8;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out
}

.post-tags-pig  a:hover {
	background: #5d3d21;
	color: #FFF;
	text-decoration: none
}

.download a {
	float: left;
	display: block;
	color: #FFF;
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 3px 7px;
	line-height: 1.3em;
	background: #666666;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out
}

.download a:hover {
	background: #C00909;
	color: #FFF;
	text-decoration: none
}

.entry h1 {
	margin-bottom: 0px
}

.post h2 {
	line-height: 1.2em;
	margin: 0 !important;
	font-size: 21px
}

.page-title {
	margin-bottom: 20px !important;
	padding-bottom: 10px;
	border-bottom: 1px dashed #CCC
}

#sub-description {
	font-size: 14px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dashed #CCC
}

#sub-description p {
	margin: 0;
	padding: 0
}

#single-nav {
	margin-bottom: 20px
}

#single-nav-left {
	float: left;
	width: 50%
}

#single-nav-right {
	float: right;
	width: 50%;
	text-align: right
}

#single-nav-left a {
	float: left
}

#single-nav-right a {
	float: right !important
}

#post-author {
	margin: 30px 0px
}

#post-author .avatar {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px
}

#post-author h4 {
	margin-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #CCC;
	margin-left: 70px
}

.pagination {
	font-family: Arial, Helvetica, sans-serif
}

.pagination a, .pagination span {
	line-height: 30px;
	height: 28px;
	width: 30px;
	text-align: center;
	margin-right: 5px;
	display: block;
	float: left;
	color: #000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	position: relative
}

.pagination a:hover, .pagination span.current {
	text-decoration: none;
	color: #FFF;
	background: #5d3d21
}

#comments {
	padding: 20px;
	background: #FFF;
	border-top: 1px solid #DDD;
	text-align: center
}

#commentsbox {
	margin-top: 30px
}

#commentsbox ol, #commentsbox ul {
	list-style: none;
	margin-left: 0 !important
}

#commentsbox li {
	margin-bottom: 30px
}

.children {
	list-style: none;
	margin-left: 15px;
	text-indent: 0
}

.children li.depth-2 {
	margin: 0 0 0px 50px
}

.children li.depth-3 {
	margin: 0 0 0px 50px
}

.children li.depth-4 {
	margin: 0 0 0px 50px
}

.children li.depth-5 {
	margin: 0 0 0px 50px
}

.comment-body {
	background: #FFF;
	position: relative;
	padding: 20px;
	background: #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: relative
}

#commentsbox .avatar {
	float: left;
	margin-right: 30px
}

.comment-author {
	font-size: 14px;
	color: #000;
	line-height: 1em;
	margin-bottom: 5px
}

.says {
	display: none
}

.comment-meta {
	font-size: 10px
}

.comment-meta a {
	margin-bottom: 10px;
	font-style: italic;
	color: #666
}

.reply {
	text-align: right
}

.comment-reply-link:hover {
	
}

.cancel-comment-reply a {
	color: #F00;
	line-height: 20px;
	height: 20px
}

.cancel-comment-reply a:hover {
	text-decoration: underline
}

.paginationcomments {
	font-family: Arial, Helvetica, sans-serif
}

.paginationcomments a, .paginationcomments span {
	line-height: 30px;
	height: 28px;
	width: 100px;
	text-align: center;
	color: #000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	position: relative
}

.paginationcomments a:hover, .paginationcomments span.current {
	text-decoration: none;
	color: #FFF;
	background: #5d3d21
}

a.l  span {
	float: left
}

a.r span {
	float: right
}

#respond {
	margin: 40px 0 15px;
	padding: 20px;
	background: #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: relative
}

#comments-respond {
	margin: 0 0 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #CCC;
	clear: both
}

#frmSumbit label {
	display: block;
	font-size: 11px
}

#frmSumbit input {
	margin-bottom: 10px;
	width: 30%
}

#frmSumbit img {
	padding: 0
}

#frmSumbit textarea {
	margin-top: 10px;
	display: block;
	width: 96%
}

#frmSumbit input#inpName, #frmSumbit input#inpEmail, #frmSumbit input#inpHomePage,
	#frmSumbit input#inpVerify, #frmSumbit textarea {
	font-family: Microsoft Yahei;
	color: #000;
	position: relative;
	padding: 5px;
	border: 1px solid #E3E3E3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 1px 1px 1px #FFF
}

#frmSumbit input#inpName:focus, #frmSumbit input#inpEmail:focus,
	#frmSumbit input#inpHomePage:focus, #frmSumbit input#inpVerify:focus,
	#frmSumbit textarea:focus {
	background: #F8F8F8
}

#commentSubmit {
	font-family: Microsoft Yahei;
	cursor: pointer;
	font-size: 14px;
	color: #969696;
	padding: 5px 0px;
	width: 150px !important;
	background: -moz-linear-gradient(top, #5d3d21 0%, #5d3d21);
	background: -webkit-gradient(linear, left top, left bottom, from(#5d3d21),
		to(#5d3d21));
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #CCC
}

#commentSubmit:hover {
	background: #EEE !important
}

#commentSubmit {
	border: 1px solid #6587a2;
	background: #CCC;
	background: -webkit-gradient(linear, left top, left bottom, from(#5d3d21),
		to(#5d3d21));
	background: -webkit-linear-gradient(top, #5d3d21, #5d3d21);
	background: -moz-linear-gradient(top, #5d3d21, #5d3d21);
	background: -ms-linear-gradient(top, #5d3d21, #5d3d21);
	background: -o-linear-gradient(top, #5d3d21, #5d3d21);
	padding: 8px 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: #FFF;
	text-decoration: none;
	vertical-align: middle
}

#commentSubmit:hover {
	border-top-color: #5d3d21 !important;
	background: #5d3d21 !important;
	color: #ffffff
}

#commentSubmit:active {
	border-top-color: #7094b1 !important;
	background: #7094b1 !important
}

#sidebar {
	float: right
}

.sidebar-box {
	margin-bottom: 20px;
	padding: 20px;
	background: #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: relative
}

.sidebar-box h4 {
	border-bottom: 1px dashed #CCC;
	padding-bottom: 5px;
	margin-top: 0px !important;
	margin-bottom: 15px
}

.sidebar-box ul {
	list-style: none
}

.sidebar-box li {
	margin-bottom: 5px;
	height: 28px;
	width: 250px;
	overflow: hidden
}

.divMisc li {
	height: 45px
}

#copyright-wrap {
	width: 100%;
	background: #FFF;
	border-top: 1px solid #d7d7d7;
	margin-top: 25px
}

#copyright {
	padding: 10px 0;
	text-align: center;
	font-size: 14px;
	color: #999
}

#copyright a {
	color: #999
}

#copyright a:hover {
	color: #333;
	text-decoration: underline
}

.divSearchPanel form {
	display: block;
	position: relative;
	width: 250px
}

#edtSearch {
	position: relative;
	width: 210px;
	padding: 10px 30px 10px 10px;
	outline: none;
	border: 1px solid #CCC;
	color: #000;
	text-shadow: 1px 1px 1px #FFF
}

#edtSearch:focus {
	
}

#btnPost {
	position: absolute;
	right: 10px;
	top: 14px;
	background: url(images/search.png) no-repeat;
	text-indent: -9999px;
	border: none;
	outline: none;
	width: 15px;
	height: 15px;
	cursor: pointer
}

.one-half {
	width: 48%
}

.one-third {
	width: 30.66%
}

.two-third {
	width: 65.33%
}

.one-fourth {
	width: 22%
}

.three-fourth {
	width: 74%
}

.one-fifth {
	width: 16.8%
}

.one-sixth {
	width: 13.33%
}

.one-half, .one-third, .two-third, .one-fourth, .three-fourth,
	.one-fifth, .one-sixth {
	position: relative;
	margin-right: 4%;
	float: left
}

.column-last {
	margin-right: 0px
}

.column-first {
	margin-left: 0px
}

.box-shortcode {
	margin: 5px 0px;
	color: #000;
	padding: 10px
}

.box-red {
	background-color: #FFB8B8;
	border: 1px solid #FF8C8C;
	color: #BF2F2F
}

.box-yellow {
	background-color: #FFC;
	border: 1px solid #FC6;
	color: #970
}

.box-green {
	background-color: #CF9;
	border: 1px solid #9C0;
	color: #360
}

.box-blue {
	background-color: #D1F2F5;
	border: 1px solid #AFDEE2;
	color: #38878E
}

.text-highlight {
	padding: 2px
}

.highlight-yellow, .highlight-yellow a {
	background-color: #FFF7A8;
	color: #695D43
}

.highlight-pink, .highlight-pink a {
	background-color: #F7DEEB;
	color: #724473
}

.highlight-purple, .highlight-purple a {
	background-color: #E0DBF6;
	color: #5C5577
}

.highlight-blue, .highlight-blue a {
	background-color: #D7F0FF;
	color: #2A67A4
}

.highlight-green, .highlight-green a {
	background-color: #E7FFCE;
	color: #47630A
}

.highlight-red, .highlight-red a {
	background: #FFCEBE;
	color: #A22121
}

.highlight-gray, .highlight-gray a {
	background-color: #EBEBEB;
	color: #787777
}

.btn-shortcode {
	display: inline-block;
	nowhitespace: afterproperty;
	zoom: 1;
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px 5px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 0px 20px;
	height: 35px;
	line-height: 35px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}

.btn-shortcode:hover {
	text-decoration: none;
	color: #FFF
}

.btn-shortcode:active {
	position: relative;
	top: 1px;
	color: #FFF
}

.buttonblack {
	color: #d7d7d7 !important;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666),
		to(#000));
	background: -moz-linear-gradient(top, #666, #000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666',
		endColorstr='#000')
}

.buttonblack:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444),
		to(#000));
	background: -moz-linear-gradient(top, #444, #000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444',
		endColorstr='#000')
}

.buttonblack:active {
	color: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#000),
		to(#444));
	background: -moz-linear-gradient(top, #000, #444);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000',
		endColorstr='#666')
}

.buttongray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888),
		to(#575757));
	background: -moz-linear-gradient(top, #888, #575757);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888',
		endColorstr='#575757')
}

.buttongray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575),
		to(#4b4b4b));
	background: -moz-linear-gradient(top, #757575, #4b4b4b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575',
		endColorstr='#4b4b4b')
}

.buttongray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757),
		to(#888));
	background: -moz-linear-gradient(top, #575757, #888);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757',
		endColorstr='#888')
}

.buttonwhite {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#ededed));
	background: -moz-linear-gradient(top, #fff, #ededed);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',
		endColorstr='#ededed')
}

.buttonwhite:hover {
	color: #606060;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#dcdcdc));
	background: -moz-linear-gradient(top, #fff, #dcdcdc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',
		endColorstr='#dcdcdc')
}

.buttonwhite:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
		to(#fff));
	background: -moz-linear-gradient(top, #ededed, #fff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#fff')
}

.buttonorange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a),
		to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a',
		endColorstr='#f47a20')
}

.buttonorange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11),
		to(#f06015));
	background: -moz-linear-gradient(top, #f88e11, #f06015);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11',
		endColorstr='#f06015')
}

.buttonorange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20),
		to(#faa51a));
	background: -moz-linear-gradient(top, #f47a20, #faa51a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20',
		endColorstr='#faa51a')
}

.buttonred {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24),
		to(#aa1317));
	background: -moz-linear-gradient(top, #ed1c24, #aa1317);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24',
		endColorstr='#aa1317')
}

.buttonred:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b),
		to(#a11115));
	background: -moz-linear-gradient(top, #c9151b, #a11115);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b',
		endColorstr='#a11115')
}

.buttonred:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317),
		to(#ed1c24));
	background: -moz-linear-gradient(top, #aa1317, #ed1c24);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317',
		endColorstr='#ed1c24')
}

.buttonblue {
	color: #FFF;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee),
		to(#0078a5));
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee',
		endColorstr='#0078a5')
}

.buttonblue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc),
		to(#00678e));
	background: -moz-linear-gradient(top, #0095cc, #00678e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc',
		endColorstr='#00678e')
}

.buttonblue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5),
		to(#00adee));
	background: -moz-linear-gradient(top, #0078a5, #00adee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5',
		endColorstr='#00adee')
}

.buttonrosy {
	color: #fae7e9;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c),
		to(#bf404f));
	background: -moz-linear-gradient(top, #f16c7c, #bf404f);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c',
		endColorstr='#bf404f')
}

.buttonrosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a),
		to(#a53845));
	background: -moz-linear-gradient(top, #cf5d6a, #a53845);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a',
		endColorstr='#a53845')
}

.buttonrosy:active {
	color: #dca4ab;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f),
		to(#f16c7c));
	background: -moz-linear-gradient(top, #bf404f, #f16c7c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f',
		endColorstr='#f16c7c')
}

.buttongreen {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f),
		to(#4e7d0e));
	background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f',
		endColorstr='#4e7d0e')
}

.buttongreen:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28),
		to(#436b0c));
	background: -moz-linear-gradient(top, #6b9d28, #436b0c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28',
		endColorstr='#436b0c')
}

.buttongreen:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e),
		to(#7db72f));
	background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e',
		endColorstr='#7db72f')
}

.buttonpink {
	color: #feeef5;
	border: solid 1px #d2729e;
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3),
		to(#f171ab));
	background: -moz-linear-gradient(top, #feb1d3, #f171ab);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3',
		endColorstr='#f171ab')
}

.buttonpink:hover {
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb),
		to(#e86ca4));
	background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb',
		endColorstr='#e86ca4')
}

.buttonpink:active {
	color: #f3c3d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f171ab),
		to(#feb1d3));
	background: -moz-linear-gradient(top, #f171ab, #feb1d3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab',
		endColorstr='#feb1d3')
}

.linkpage ul {
	list-style-type: none;
	overflow: auto;
	margin-left: 14px;
	width: 98%
}

.linkpage ul li {
	color: #333;
	font-size: 14px;
	margin-bottom: 5px;
	margin-top: 10px
}

.linkpage ul li ul li {
	float: left;
	width: 124px;
	background-color: #FFF;
	border: 1px solid #80B5C5;
	line-height: 25px;
	margin: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	text-indent: -6px
}

.linkpage ul li ul li a {
	background-color: transparent;
	color: gray;
	display: block;
	text-decoration: none
}

.linkpage ul li ul li a:hover {
	background-color: #80B5C5;
	color: #FFF
}

.google_adsense {
	width: 310px;
	height: 250px;
	background-color: #000;
	overflow: hidden;
	padding: 5px
}

.google_adsense:hover {
	background-color: #000
}

.divFavorites .divLinkage {
	width: 100%
}

.divFavorites li, .divLinkage li {
	white-space: inherit;
	width: 42%;
	margin-right: 10px;
	float: left;
	padding: 0 5px;
	overflow: hidden;
	display: block
}

.topcomment ul {
	
}

.topcomment ul li {
	float: left;
	margin-right: 5px;
	margin-left: 5px
}

#blog-loading {
	width: 100%;
	height: 2px;
	background: #5d3d21;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1
}

#blog-loading div {
	width: 1px;
	height: 2px;
	background: #fff
}

 @charset "utf-8"; 

.clear {
	clear: both
}

ul.children {
	margin-top: 5px
}

.header_wrap {
	overflow: hidden;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background: #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: relative
}

#header {
	float: left
}

#navigation {
	float: right;
	margin-top: 30px
}

.readmore {
	float: right
}

.readmore a {
	color: #5d3d21;
	border: none
}

.post-bottom {
	margin-top: 10px;
	overflow: hidden
}

.nomatch {
	padding-top: 30px;
	border-top: 1px #ccc dashed;
	margin-top: 15px
}

.nomatch #searchbar {
	float: left;
	margin-left: 100px
}

.breadcrumbs {
	padding: 10px 20px;
	font-size: 14px
}

#shangxia {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -520px;
	display: block
}

#shang, #comt, #xia {
	background: url(images/huadong.png) no-repeat;
	position: relative;
	cursor: pointer;
	height: 25px;
	width: 29px;
	margin: 10px 0 0
}

#comt {
	background-position: center -30px;
	height: 32px
}

#xia {
	background-position: center -68px
}

#txaArticle textarea {
	background: url(images/pinglun.png) no-repeat center
}

.previous_content {
	float: left
}

.next_content {
	float: right
}

.pagination span.page-count, .pagination a.next, .pagination a.prev {
	width: 60px
}

.statistics {
	width: 100%
}

.statistics li {
	white-space: inherit;
	width: 45%;
	float: left;
	padding: 0 5px;
	overflow: hidden;
	display: block
}

.statistics li.long {
	width: 95%
}

.post-title {
	color: #5d3d21
}

.post-title:hover {
	color: #5d3d21
}

.divCalendar caption {
	text-align: center;
	color: #333;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 15px
}

.divCalendar caption a {
	padding: 0 8px
}

.divCalendar thead {
	font-size: 14px
}

.divCalendar thead th {
	text-align: center;
	padding: 3px 0 0 0;
	width: 33px;
	height: 33px;
	vertical-align: middle
}

.divCalendar tbody {
	
}

.divCalendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	text-align: center;
	padding: 3px 0 0 0;
	width: 33px;
	height: 33px;
	vertical-align: middle
}

.divCalendar tbody td:hover {
	background: #5d3d21;
	color: #FFFFFF
}

.divCalendar tbody td a {
	color: #5d3d21
}

#today {
	font-weight: bold
}

.divArchives li {
	height: auto;
} /* .divArchives a{display:inline;} */
#mutualitybox {
	margin: 0 0 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #CCC;
	clear: both;
}

img.thumb {
	border: 0px solid #666;
	float: right;
	margin: 14px 14px 14px 14px;
	padding: 0px;
	padding: 0px;
	max-width: 500px;
	max-height: 500px;
	vertical-align: middle;
	overflow: hidden;
	clear: both;
}

.quote {
	background: #f5f5f5;
	margin: 15px 20px 10px 10px;
	padding: 2px;
	-moz-border-radius: 5pt;
	border-top: 1px solid Silver;
	border-left: 1px solid Silver;
	border-right: 1px solid Silver;
	border-bottom: 1px solid Silver;
}

@media screen and (max-width:768px) {
	body {
		min-width: 100%;
	}
	.container {
		width: 100%;
	}
	.container .content {
		width: 100%;
	}
	.header_wrap {
		margin-top: 0;
		padding-bottom: 0;
	}
	#sidebar {
		display: none;
	}
	#navigation {
		margin-top: 0px;
		height: 100%;
	}
	#BlogPowerBy {
		display: none;
	}
}