<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${quser.realname}+的评论-梦神十夜的小站"></title>
</head>

<body>
<div id="wrap" class="container clearfix">
	<!-- 引入导航栏 -->
	<div th:include="common/header::pagination"></div>
    
    <div id="main" class="container">
    	<div class="content alpha" id="content_main_apl">
    		<!-- 循环咨询列表start -->
    		<div class="entry clearfix" th:each="info:${list}">
				<h1><a class="post-title" th:href="@{/article/detail/{id}/1(id=${info.articleId})}" rel="bookmark" th:text="${info.articleInfo.title}"></a></h1>	
				<div class="post-meta">
					<span th:text="${info.layer}"></span>楼 |  
					评论者: <span th:text="${info.createUser.realname}"></span>评论 | 
					<span th:text="${#dates.format(info.createTm, 'yyyy年MM月dd日 HH:mm')}"></span> | 
					评论编号: <span th:text="${info.id}"></span> | 
					文章编号: <span th:text="${info.articleId}"></span> | 
					<a class="post-title" th:style="${info.createUid != session.user_session.id}?'display:none'" href="javascript:void(0)" th:onclick= "'javascript:editComment('+${info.id}+')'" th:text="修改"></a>
					<a class="post-title" th:style="${info.createUid != session.user_session.id}?'display:none'" href="javascript:void(0)" th:onclick= "'javascript:delComment('+${info.id}+')'" th:text="删除"></a>
					<a class="post-title" th:href="@{/article/detail/{id}/1(id=${info.articleId})}" rel="bookmark" th:text="阅读全文..."></a>
					
				</div>
				
				<!-- <div class="post-meta">
					<span th:text="${info.createTm}"></span> | 
					<span th:text="${#dates.format(info.articleInfo.createTm, 'yyyy年MM月dd日 HH:mm')}"></span> | 
					作者: <span th:text="${info.articleInfo.createUser.realname}"></span>投稿 | 
					文章编号: <a class="post-title" th:href="@{/article/detail/{id}/1(id=${info.articleId})}" rel="bookmark" th:text="${info.articleInfo.id}"></a> | 
					<a class="post-title" th:href="@{/article/detail/{id}/1(id=${info.articleId})}" rel="bookmark" >阅读全文​...</a>
				</div> -->
			
				<div class="clear"></div>
				<div class="entry-content">
					<a th:href="@{/comment/user/{uid}/1(uid=${info.createUser.id})}" rel="tag"><img th:src="${info.createUser.img}" class="thumb"/></a>
						<span th:text="${info.context}" th:id="comment_contxt_id_+${info.id}"></span>
						<p style="display:none;" class="cloudreamHelperLink" codetype="postmulti" entryid="5655"></p>
				</div>
				<!-- END post-bottom -->
			</div>
			<!-- 循环咨询列表end -->
			
			<!-- 引入分页 -->
			<div th:include="common/page::common-pagination"></div>
			
    	</div>
    </div>
    
    <!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>
<!-- 引入底部 -->
<div th:include="common/footer::common-pagination"></div>
</body>
</html>