.contains{
    width: 100%;
    padding-left: 20px;
   
}
/*
.small_pic{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 20px;
    
}

.contains .small_pic div{
    float: left;
    margin: 20px 10px;
    width: 650px;
    height: 450px;
   
}*/

.divTwoLeft {
	width: 48%;
	height: 450px;
	float: left;
	border: 2px solid #dbdbdb;
	padding: 20px;
	margin: 10px;
}

.divTwoRight {
	width: 48%;
	height: 450px;
	float: right;
	border: 2px solid #dbdbdb;
	padding: 20px;
	margin: 10px;
}
.divOne {
	width: 96%;
	height: 50%;
	float: left;
	border: 2px solid #dbdbdb;
	margin: 15px 
}
