<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>菜单管理 - 梦神十夜的小站</title>
</head>

<body>
<div id="wrap" class="container clearfix">
	<!-- 引入导航栏 -->
	<div th:include="common/header::pagination"></div>
	
	<div class="header_wrap_2">
		<!-- END header -->
		<div class="clearfix">
			<nav class="nav">
				<ul class="sf-menu" style="float:left;margin-bottom: 0px;margin-top:0px;">
					<li><a th:text="用户管理" th:href="@{/user/list/1}"></a></li>
					<li><a style="background: #5d3d21;color:white;" th:text="菜单管理" th:href="@{/system/menu/1}"></a></li>
					<li><a th:text="角色管理" th:href="@{/system/role/1}"></a></li>
					<li><a th:text="日志管理" th:href="@{/user/alllog/1}"></a></li>
					<li><a th:text="我的信息" href="javascript:void(0)" th:onclick= "'javascript:showme()'"></a></li>
					<li><a th:text="修改密码" href="javascript:void(0)" th:onclick= "'javascript:showPwd()'"></a></li>
					<li><a th:text="创建用户" href="javascript:void(0)" th:onclick= "'javascript:showAddUser()'"></a></li>
				</ul>
			</nav>
		</div>
		<!-- END navigation -->
	</div>
    
    <div id="main" class="container">
    	<div class="content alpha" id="content_main_apl">
    		<!-- 循环咨询列表start -->
    		<div class="entry clearfix" th:each="info:${list}">
				<h1><a class="post-title" th:href="${info.url}" rel="bookmark" th:text="${info.name}"></a></h1>
			
				<div class="clear"></div>
				<div class="entry-content ">
					<div id="me_div_box" class="add_box">	
						<table class="formtable_noborder" style="width:100%;font-size: 16px;float: left;">
							<thead>
							</thead>
							<tbody>
								<tr>
									<th width="13%"><span th:text="ID"></span></th>
									<td width="20%"><span th:text="${info.id}"></span></td>
									<th width="13%"><span th:text="名称"></span></th>
									<td width="20%">
										<input class="inputclass" type="text" name="name" th:id="name_+${info.id}" th:value="${info.name}" />
									</td>
									<th width="13%"><span th:text="URL"></span></th>
									<td width="20%">
										<input class="inputclass" type="text" name="url" th:id="url_+${info.id}" th:value="${info.url}" />
									</td>
								</tr>
								<tr>
									<th width="13%"><span th:text="状态"></span></th>
									<td width="20%">
										<select name="available" th:id="available_+${info.id}">
											<option value="true" th:selected="${info.available == true}?selected">生效</option>
											<option value="false" th:selected="${info.available == false}?selected">失效</option>
										</select>
									</td>
									<th width="13%"><span th:text="父ID"></span></th>
									<td width="20%">
										<input class="inputclass" type="text" name="parentId" th:id="parentId_+${info.id}" th:value="${info.parentId}" />
									</td>
									<th width="13%"><span th:text="父IDs"></span></th>
									<td width="20%">
										<input class="inputclass" type="text" name="parentIds" th:id="parentIds_+${info.id}" th:value="${info.parentIds}" />
									</td>
								</tr>
								<tr>
									<th width="13%"><span th:text="permission"></span></th>
									<td width="20%">
										<input class="inputclass" type="text" name="permission" th:id="permission_+${info.id}" th:value="${info.permission}" />
									</td>
									<th width="13%"><span th:text="类型"></span></th>
									<td width="20%">
										<select name="resourceType" th:id="resourceType_+${info.id}">
											<option value="menu" th:selected="${info.resourceType == menu}?selected">菜单</option>
											<option value="button" th:selected="${info.resourceType == button}?selected">按钮</option>
										</select>
									</td>
									<th width="13%"><span th:text="修改"></span></th>
									<td width="20%">
										<input type="button" class="btn_public btn_public_save_text" th:onclick= "'javascript:updPermission('+${info.id}+')'"/>
									</td>
								</tr>
							</tbody>
						</table>
					<!-- </p> -->
					</div>
				</div>
				<!-- END post-bottom -->
			</div>
			<!-- 循环咨询列表end -->
			
			<!-- 引入分页 -->
			<div th:include="common/page::common-pagination"></div>
			
    	</div>
    </div>
    
    <!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>
<!-- 引入底部 -->
<div th:include="common/footer::common-pagination"></div>

<script type="text/javascript">
	function updPermission(id){
		var data = {
				id : id,
				name : $("#name_"+id).val(),
				url : $("#url_"+id).val(),
				available : $("#available_"+id).val(),
				parentId : $("#parentId_"+id).val(),
				parentIds : $("#parentIds_"+id).val(),
				permission : $("#permission_"+id).val(),
				resourceType : $("#resourceType_"+id).val()
		};
		if(data.name == null || data.name == ""){
			alert("请输入名称!");
			return;
		}
		if(data.url == null || data.url == ""){
			alert("请输入url!");
			return;
		}
		if(data.parentId == null || data.parentId == ""){
			alert("请输入父ID，默认0!");
			return;
		}
		if(data.parentIds == null || data.parentIds == ""){
			alert("请输入父IDs，默认0/!");
			return;
		}
		if(data.name == null || data.name == ""){
			alert("请输入permission!");
			return;
		}
		$.ajax({
			"url" : "/system/saveSysPermission",
			"type" : "POST",
			"dataType" : "json",
			"data" : data,
			"success" : function(msgjsonobj) {
				if(msgjsonobj.status == 100){
					$.showAlertMessage("success","保存成功",msgjsonobj.status + "-" + msgjsonobj.desc,function(){
						location.href = window.location.href;
					});
				}else{
					$.showAlertMessage("success","保存失败",msgjsonobj.status + "-" + msgjsonobj.desc,function(){
						
					});
				}
				
			},
			"error" : function() {
				$.showAlertMessage("error","保存失败","引发了莫名的错误?",function(){
					
				});
			}
		});
	}
</script>
</body>
</html>