<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>角色管理 - 梦神十夜的小站</title>
</head>

<body>
<div id="wrap" class="container clearfix">
	<!-- 引入导航栏 -->
	<div th:include="common/header::pagination"></div>
	
	<!-- 引入第二菜单 -->
	<div th:include="common/page::sys-manager-menu"></div>
    
    <div id="main" class="container">
    	<div class="content alpha" id="content_main_apl">
    		<!-- 循环咨询列表start -->
    		<div class="entry clearfix" th:each="info:${list}">
				<h1><a class="post-title"  rel="bookmark" th:text="${info.role}"></a></h1>
			
				<div class="clear"></div>
				<div class="entry-content ">
					<div id="me_div_box" class="add_box">	
						<table class="formtable_noborder" style="width:100%;font-size: 16px;float: left;">
							<thead>
							</thead>
							<tbody>
								<tr>
									<th width="13%"><span th:text="ID"></span></th>
									<td width="20%"><span th:text="${info.id}"></span></td>
									<th width="13%"><span th:text="名称"></span></th>
									<td width="20%">
										<input class="inputclass" type="text" name="role" th:id="role_+${info.id}" th:value="${info.role}" />
									</td>
									<th width="13%"><span th:text="描述"></span></th>
									<td width="20%">
										<input class="inputclass" type="text" name="description" th:id="description_+${info.id}" th:value="${info.description}" />
									</td>
								</tr>
								<tr>
									<th width="13%"><span th:text="状态"></span></th>
									<td width="20%">
										<select name="available" th:id="available_+${info.id}">
											<option value="true" th:selected="${info.available == true}?selected">生效</option>
											<option value="false" th:selected="${info.available == false}?selected">失效</option>
										</select>
									</td>
									<th width="13%"><span th:text="修改"></span></th>
									<td width="20%">
										<input type="button" class="btn_public btn_public_save_text" th:onclick= "'javascript:updRole('+${info.id}+')'"/>
									</td>
								</tr>
							</tbody>
						</table>
					<!-- </p> -->
					</div>
				</div>
				
				<h1><a class="post-title"  rel="bookmark" th:text="权限"></a></h1>
						<table class="formtable_noborder" style="width:100%;font-size: 16px;float: left;">
							<thead>
								<th width="20%" style="text-align: left;"><span th:text="ID"></span></th>
								<th width="20%" style="text-align: left;"><span th:text="名称"></span></th>
								<th width="20%" style="text-align: left;"><span th:text="URL"></span></th>
								<th width="20%" style="text-align: left;"><span th:text="permission"></span></th>
								<th width="20%" style="text-align: left;"><span th:text="类型"></span></th>
							</thead>
							<tbody>
								<tr th:each="per:${info.permissions}">
									<td><span th:text="${per.id}"></span></td>
									<td><span th:text="${per.name}"></span></td>
									<td><span th:text="${per.url}"></span></td>
									<td><span th:text="${per.permission}"></span></td>
									<td><span th:text="${per.resourceType}"></span></td>
								</tr>
							</tbody>
						</table>
				<!-- END post-bottom -->
			</div>
			<!-- 循环咨询列表end -->
			
			<!-- 引入分页 -->
			<div th:include="common/page::common-pagination"></div>
			
    	</div>
    </div>
    
    <!-- 引入备案 -->
	<div th:include="common/footer::common-beian"></div>
</div>
<!-- 引入底部 -->
<div th:include="common/footer::common-pagination"></div>

<script type="text/javascript">
	function updRole(id){
		var data = {
				id : id,
				role : $("#role_"+id).val(),
				description : $("#description_"+id).val(),
				available : $("#available_"+id).val()
		};
		if(data.role == null || data.role == ""){
			alert("请输入名称!");
			return;
		}
		if(data.description == null || data.description == ""){
			alert("请输入描述!");
			return;
		}
		$.ajax({
			"url" : "/system/saveSysRole",
			"type" : "POST",
			"dataType" : "json",
			"data" : data,
			"success" : function(msgjsonobj) {
				if(msgjsonobj.status == 100){
					$.showAlertMessage("success","保存成功",msgjsonobj.status + "-" + msgjsonobj.desc,function(){
						location.href = window.location.href;
					});
				}else{
					$.showAlertMessage("success","保存失败",msgjsonobj.status + "-" + msgjsonobj.desc,function(){
						
					});
				}
				
			},
			"error" : function() {
				$.showAlertMessage("error","保存失败","引发了莫名的错误?",function(){
					
				});
			}
		});
	}
</script>
</body>
</html>